openapi: 3.0.3
info:
  description: |
    <h2>Let's build something great.</h2><p>Welcome to the official reference documentation for Synctera APIs. Our APIs are the best way to automate your company's banking needs and are designed to be easy to understand and implement.</p><p>We're continuously growing this library and what you see here is just the start, but if you need something specific or have a question, <a class='text-blue-600' href='https://synctera.com/contact' target='_blank' rel='noreferrer'>contact us</a>.</p>
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Synctera API
  version: v2
servers:
- description: Production
  url: https://api.synctera.com/v2
- description: Sandbox (no real world financial impact)
  url: https://api-sandbox.synctera.com/v2
security:
- bearerAuth: []
tags:
- description: Request to create and manage accounts
  name: Accounts
- description: Account Template
  name: Account Templates
- description: Account programs define configurations for payment rails and transaction
    capabilities across different account types.
  name: Account Programs
- description: "Requests to create and manage account products, including fees, interest."
  name: Account Products
- description: |
    The internal account resource is used for managing links to internal
    accounts where the funds are managed by integrators.
  name: Internal Accounts
- description: Requests to create and manage API keys
  name: API Keys
- description: Requests to manage banks
  name: Banks
- description: Requests to create and manage customers
  name: Customers
- description: |
    A natural person (individual human) that is relevant to the Synctera platform in some way: e.g. a personal customer or a director/officer/owner of a business.
  name: Persons
- description: |
    A legal entity (corporation, partnership, etc.) that is relevant to the Synctera platform in some way: a business customer or some other organization that has an ownership share in such a business customer.
  name: Businesses
- description: Requests to create and perform administrative functions
  name: Admin
- description: |
    The fintech profile document resource is used to track the approval status of any documents
    which must be reviewed by a bank. This includes regulatory documents which will be presented
    to the fintech's end users, and also any documents that help the bank understand the
    fintech's fitness for duty.
  name: Fintech Profile
- description: |
    The disclosures resource is used to track the status of disclosures and
    ensure that all parties have been shown the necessary disclosures to meet
    regulatory obligations.
  name: Disclosures
- description: |
    The Disclosures resource is used to track the status of disclosures and
    ensure that customers have been shown the necessary disclosures to meet
    regulatory obligations.
  name: Disclosures (deprecated)
- description: |
    The External Account resource is used for managing links to accounts
    that operate outside of the Synctera ecosystem.
  name: External Accounts
- description: History
  name: History
- description: Requests to initiate customer verification.
  name: KYC Verification (deprecated)
- description: Requests to initiate customer verification.
  name: KYC/KYB Verifications
- description: Requests to manage monitoring subscriptions and alerts for customers.
  name: Monitoring
- description: Requests to manage partners
  name: Partners
- description: Request to create and manage party groups and party group members
  name: Party Groups
- description: Requests to create and manage roles
  name: Roles
- description: |
    Represents the relationships between parties. A relationship can exist between personal customers, business customers, or non-customer persons/organizations.
  name: Relationships
- description: Request to create and manage users
  name: Users
- description: "Request to enroll, renew, or cancel watchlist monitors"
  name: Watchlist (deprecated)
- description: Retrieve user identity information
  name: Identity
- description: Endpoints for modifying or fetching posting dates
  name: Posting Dates
- description: Admin API for Middesk configuration using the tenants API keys.
  name: Middesk
- description: Requests to search and manage compliance searches
  name: Compliance Searches
- description: Requests to configure vendors.
  name: Vendor Configurations
- description: Requests to create and manage notes
  name: Notes
- description: |
    Represents the compliance rules that are used to verify certain kinds of money movement.
  name: Compliance Rules
- description: Requests to create licenses
  name: Licenses
- description: Used to configure bank accounts for which synctera accounts are considered
    a "subledger" to
  name: Bank Account
- description: Requests to search financial institutions
  name: Institutions (Beta)
- description: Requests to manage addresses
  name: Addresses
- description: Requests to Admins to grant permissions to user
  name: Request Permissions
- description: Manage contacts for bank and fintech partners
  name: Contacts
- description: Requests to create and manage personal ID configurations
  name: Personal ID Configuration
- description: Requests to issue and manage cards
  name: Cards
- description: Push and pull from cards
  name: External Cards
- description: Bulk card issuance
  name: Bulk Issuance
- description: Requests to generate simulated transactions
  name: Card Transaction Simulations
- description: Requests to generate simulated webhooks
  name: Card Webhook Simulations
- description: Requests to create and manage card disputes
  name: Card Disputes
- description: Requests to simulate card payments
  name: Card Simulations
- description: Requests to create and manage webhooks
  name: Webhooks
- description: Request to create and manage deposits using remote deposit capture
  name: Remote Check Deposit
- description: Request to create and manage rdc configurations
  name: RDC Config
- description: Request to create and manage edd
  name: Trust
- description: Requests to calculate and manage CRR
  name: CRR
- description: Create and manage wire transfers
  name: Wires
- description: Simulate receiving Wire transactions and returns
  name: Wire Transaction Simulations
- description: Create and manage same currency and multi-currency international wire
    transfers
  name: International Wires (alpha)
- description: Configure vendor secrets for egress requests
  name: Egress Gateway Vendor Secret CRUD API
- description: Configure webhook secrets for egress requests
  name: Egress Gateway Webhook Secret CRUD API
- description: Request to create and manage statements
  name: Statements
- description: Create and manage Cash Order and Cash Deposit transfers
  name: Cash Orders and Deposits (alpha)
- description: Create and manage sweep configurations
  name: Configs
- description: Requests to generate simulated transactions
  name: Cash Transaction Simulations (alpha)
- description: Testing endpoints to simulate in-store cash deposits. Available in
    sandbox environments only.
  name: In-Store Cash Deposit Simulations (beta)
- description: Create and manage barcodes for in-store cash deposits
  name: In-Store Cash Deposits (beta)
- description: Create and manage EFT Canada transfers
  name: EFT Canada (Beta)
- description: FDX authentication and data transfer using Plaid Core Exchange
  name: Plaid Core Exchange (beta)
- description: Create and manage payments
  name: ACH
- description: Simulate receiving ACH transactions and returns
  name: ACH Transaction Simulations
- description: Create and manage holds
  name: Hold
- description: Create and manage transactions
  name: Transactions
- description: Create and manage transactions
  name: Transactions (internal)
- description: Create and manage scheduled transactions
  name: Scheduled Transactions (internal)
- description: Create and manage spending controls
  name: Spend Controls
- description: Create and manage tenant configurations
  name: Tenant Configs
- description: Lookup merchant information
  name: Merchants
- description: See balance history
  name: BalanceHistory
- description: Transaction lines API
  name: transactions
- description: Create and manage transactions
  name: Transactions (beta)
- description: Create and manage spending controls
  name: Spend Controls (beta)
- description: |
    Requests to create and manage fees
  name: Fees (beta)
- description: |
    Requests to create and manage Rewards
  name: Rewards (beta)
- description: Create and manage disputes
  name: Disputes
- description: Create and manage tenant-level transaction limits
  name: Tenant Limits (beta)
- description: |
    Requests to create and manage batch payments
  name: Batch Payments (alpha)
- description: Manage negative balance processes
  name: Negative Balance
- description: Create and manage documents.
  name: Documents
- description: Request to create and manage payment_schedules
  name: Cronut
- description: Create and manage Synctera Pay templates
  name: SyncteraPay
- description: Create a credit application.
  name: Applications (beta)
- description: Billing period summaries
  name: Billing Period Summaries
- description: Customer Service Details for disputes and billing inquiries
  name: Customer Service Details
- description: Billing rates
  name: Billing Rates
- description: Rates
  name: Rates
- description: Lending Config
  name: Lending Config
- description: Manage credit disputes
  name: Credit Disputes
- description: Payments related to lending accounts
  name: Payments
- description: Tenant Config
  name: Tenant Config
- description: Bank Delinquency Configuration
  name: Bank Delinquency Configuration
- description: Autopay configuration management for lending accounts
  name: Autopay Configs
- description: Autopay payment records for billing periods
  name: Autopays
- description: Apple Pay APIs
  name: Apple Pay
paths:
  /accounts:
    get:
      description: |
        Get a paginated list of accounts.

        GENERAL_LEDGER accounts are not included by default. To include them, set include_general_ledger=true, or account_type=GENERAL_LEDGER.

        Note: GENERAL_LEDGER accounts are in Alpha status, and cannot yet be created. We may make breaking changes.
      operationId: listAccounts
      parameters:
      - description: Originating account IDs. Multiple IDs can be provided as a comma-separated
          list.
        explode: false
        in: query
        name: account_id
        required: false
        schema:
          example: "64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157"
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: |
          The type of the account
        explode: true
        in: query
        name: account_type
        required: false
        schema:
          $ref: "#/components/schemas/account_type"
        style: form
      - description: |
          The type of the general ledger account
        explode: true
        in: query
        name: general_ledger_type
        required: false
        schema:
          $ref: "#/components/schemas/general_ledger_type"
        style: form
      - description: |
          Return only resources that are linked to the specified backing account in balance_floor or balance_ceiling. Multiple IDs can be provided as a comma-separated list.
        explode: false
        in: query
        name: linked_account_id
        required: false
        schema:
          example: "64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157"
          items:
            format: uuid
            type: string
          type: array
        style: form
      - deprecated: true
        description: |
          Overdraft account ID(s). Multiple IDs can be provided as a comma-separated list.
          This parameter is deprecated and will be removed in a future API version. Use linked_account_id instead.
        explode: false
        in: query
        name: overdraft_account_id
        required: false
        schema:
          example: "64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157"
          items:
            format: uuid
            type: string
          type: array
        style: form
      - deprecated: true
        description: |
          Overflow account ID(s). Multiple IDs can be provided as a comma-separated list.
          This parameter is deprecated and will be removed in a future API version. Use linked_account_id instead.
        explode: false
        in: query
        name: overflow_account_id
        required: false
        schema:
          example: "64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157"
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: |
          Account number(s). Multiple account numbers can be provided as a comma-separated list.
          When only a single account number is provided, any * characters in the string are wildcards, and match any characters.
        explode: false
        in: query
        name: account_number
        required: false
        schema:
          example: "2345678108180014864"
          items:
            type: string
          type: array
        style: form
      - explode: false
        in: query
        name: status
        required: false
        schema:
          items:
            $ref: "#/components/schemas/account_status"
          type: array
        style: form
      - explode: false
        in: query
        name: access_status
        required: false
        schema:
          items:
            $ref: "#/components/schemas/account_access_status"
          type: array
        style: form
      - description: Interest product ID that accounts associate with. Multiple IDs
          can be provided as a comma-separated list.
        explode: true
        in: query
        name: interest_product_id
        required: false
        schema:
          type: string
        style: form
      - description: |
          Customer type of the account, BUSINESS or PERSONAL
        explode: true
        in: query
        name: customer_type
        required: false
        schema:
          $ref: "#/components/schemas/customer_type"
        style: form
      - description: |
          Spend Control ID(s). Multiple IDs can be provided as a comma-separated list.
          Return only resources that use the specified Spend Controls.
        explode: false
        in: query
        name: spend_control_ids
        required: false
        schema:
          $ref: "#/components/schemas/spend_control_ids"
        style: form
      - description: |
          Nickname of the account
        explode: true
        in: query
        name: nickname
        required: false
        schema:
          type: string
        style: form
      - description: "A list of customer unique identifiers, with a comma separating\
          \ any values."
        explode: false
        in: query
        name: customer_id
        required: false
        schema:
          items:
            $ref: "#/components/schemas/customer_id"
          type: array
        style: form
      - explode: true
        in: query
        name: business_id
        required: false
        schema:
          $ref: "#/components/schemas/business_id"
        style: form
      - description: |
          Unique identifier for the person. Multiple IDs can be provided as a comma-separated list.
        explode: false
        in: query
        name: person_id
        required: false
        schema:
          example: "64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157"
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: first_name
        required: false
        schema:
          description: "Only return resources where the first_name or chosen_name\
            \ field matches the specified string. Any * characters in the string are\
            \ wildcards, and match any characters."
          example: Alice
          type: string
        style: form
      - explode: true
        in: query
        name: last_name
        required: false
        schema:
          description: "Only return resources where the last_name field matches the\
            \ specified string. Any * characters in the string are wildcards, and\
            \ match any characters."
          example: Smith
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: a8937a0d
          type: string
        style: form
      - description: |
          Specifies the sort order for the returned accounts.
        explode: false
        in: query
        name: sort_by
        required: false
        schema:
          items:
            enum:
            - account_number:asc
            - account_number:desc
            - account_type:asc
            - account_type:desc
            - first_name:asc
            - first_name:desc
            - last_name:asc
            - last_name:desc
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_list"
          description: List of accounts
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: List accounts
      tags:
      - Accounts
      x-external: true
      x-permissions:
      - accounts:read
    post:
      description: |
        Creates an account copying values from account template into the account resource. Any fields defined as part of account creation will overwrite the ones provided from the account template. Account holder `verification_status` must be `ACCEPTED` to create an account.

        Required fields:
          - relationships
      operationId: createAccount
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/account_creation"
        description: Account to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_generic_response"
          description: Created account
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource already exists
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unprocessable entity
      summary: Create an account
      tags:
      - Accounts
      x-external: true
    summary: Accounts
  /accounts/{account_id}:
    get:
      description: |
        Get an account by account_id.

        Note: GENERAL_LEDGER accounts are in Alpha status, and cannot yet be created. We may make breaking changes.
      operationId: getAccount
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 57826c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_generic_response"
          description: Account
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/error"
          description: Account has been closed
      summary: Get account
      tags:
      - Accounts
      x-external: true
      x-permissions:
      - accounts:read
    patch:
      description: |
        Patch account.

        Immutable fields:
          - account_number
          - account_type
          - account_template_id
          - customer_type

        Please note:
          - Other fields cannot be modified when access_status is FROZEN.
          - access_status has to be patched individually without other fields.
      operationId: patchAccount
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 57826c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/patch_account"
        description: Account fields to be patched
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_generic_response"
          description: Updated account
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/error"
          description: Account has been closed
      summary: Patch account
      tags:
      - Accounts
      x-external: true
    put:
      deprecated: true
      description: |
        > Deprecated. Please use PATCH /v0/accounts. This route only supports types CHECKING and SAVING.

        Update account

        Shadow mode required fields:
          - account_number
          - status

        Lead mode required fields:
          - All fields are required.

        Please note:
          - access_status needs to be in ACTIVE.
          - PUT request cannot change access_status.
      operationId: updateAccount
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 57826c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/update_account"
        description: Account to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_generic_response"
          description: Updated account
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/error"
          description: Account has been closed
      summary: Update account
      tags:
      - Accounts
      x-external: true
    summary: account
  /accounts/{account_id}/initiate_closure:
    patch:
      description: |
        Update an account closure.
      operationId: updateAccountClosure
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 57826c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/account_closure_update_request"
        description: Account to close
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_generic_response"
          description: Account to close
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unprocessable entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: Update account closure
      tags:
      - Accounts
      x-external: true
    post:
      description: |
        Initiates an account closure. It immediately changes the account status to `IN_CLOSING`. Once the account status
        is `IN_CLOSING`, the account can no longer be used to create new transactions.
      operationId: initiateAccountClosure
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 57826c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/account_closure_request"
        description: Account to close
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_generic_response"
          description: Account to close
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unprocessable entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: Initiate account closure
      tags:
      - Accounts
      x-external: true
    summary: Accounts
  /accounts/{account_id}/relationships:
    get:
      description: List all customers of an account
      operationId: listAccountRelationship
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 57826c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: a8937a0d
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/relationship_list"
          description: List of account relationships
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/error"
          description: Account has been closed
      summary: List account relationships
      tags:
      - Accounts
      x-external: true
    post:
      description: Add a customer to an account
      operationId: createAccountRelationship
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 57826c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/account_relationship"
        description: Account relationship object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/relationship_response"
          description: Account relationship object
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "461":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/error"
          description: Account has been closed
      summary: Create account relationship
      tags:
      - Accounts
      x-external: true
    summary: Account Relationship
  /accounts/{account_id}/relationships/{relationship_id}:
    delete:
      description: Delete account relationship
      operationId: DeleteAccountRelationship
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 57826c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      - description: Relationship ID of the account associate with the account entity
        explode: false
        in: path
        name: relationship_id
        required: true
        schema:
          example: 1a582c51-e4ff-4e57-9558-08cab6b963aa
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/delete_response"
          description: Resource has been deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/error"
          description: Account has been closed
      summary: Delete account relationship
      tags:
      - Accounts
      x-external: true
    get:
      description: Get account relationship by ID
      operationId: getAccountRelationship
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 57826c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      - description: Relationship ID of the account associate with the account entity
        explode: false
        in: path
        name: relationship_id
        required: true
        schema:
          example: 1a582c51-e4ff-4e57-9558-08cab6b963aa
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/relationship_response"
          description: Account relationship
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/error"
          description: Account has been closed
      summary: Get account relationship
      tags:
      - Accounts
      x-external: true
    put:
      description: Update account relationship. Only relationship_type can be updated.
        customer_id should not be modified.
      operationId: updateAccountRelationship
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 57826c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      - description: Relationship ID of the account associate with the account entity
        explode: false
        in: path
        name: relationship_id
        required: true
        schema:
          example: 1a582c51-e4ff-4e57-9558-08cab6b963aa
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/account_relationship"
        description: Account relationship to be updated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/relationship_response"
          description: Updated account relationship
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/error"
          description: Account has been closed
      summary: Update account relationship
      tags:
      - Accounts
      x-external: true
    summary: Account Relationship
  /accounts/products:
    get:
      description: |
        List account products

        The FEE account product has been deprecated. Instead, use the /v1/fee_templates and /v1/fees endpoints.
      operationId: listAccountResourceProducts
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: a8937a0d
          type: string
        style: form
      - description: Date range filtering for type INTEREST. All rates in interest
          resource have to have valid_from later or equal to start_date.
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Date range filtering for type INTEREST. All rates in interest
          resource have to have valid_to earlier or equal to end_date.
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: ID of account product. Multiple IDs can be provided as a comma-separated
          list.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: Type of account product
        explode: true
        in: query
        name: product_type
        required: true
        schema:
          enum:
          - FEE
          - INTEREST
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_product_list"
          description: List of account products
      summary: List account products
      tags:
      - Accounts
      x-external: true
    post:
      description: |
        Create an account product. Rates cannot be nil or empty.

        The FEE account product has been deprecated. Instead, use the /v1/fee_templates and /v1/fees endpoints.
      operationId: createAccountResourceProduct
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/account_product"
        description: Account product to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_product"
          description: Account product created
      summary: Create an account product
      tags:
      - Accounts
      x-external: true
    summary: Account products
  /accounts/products/{product_id}:
    patch:
      description: |
        Patch account product. Rates requires at minimum 1 entry if specified.

        The FEE account product has been deprecated. Instead, use the /v1/fee_templates and /v1/fees endpoints.
      operationId: patchAccountProduct
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      - description: Account Product ID
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          example: 92113c51-e4ff-4e57-9558-08cab6b963dd
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/patch_account_product"
        description: Account product fields to be patched
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_product"
          description: Updated account product
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
      summary: Patch account product
      tags:
      - Accounts
      x-external: true
    summary: Account products
  /accounts/templates:
    get:
      description: |
        List account templates
      operationId: listAccountTemplates
      parameters:
      - description: |
          The type of the account
        explode: true
        in: query
        name: account_type
        required: false
        schema:
          $ref: "#/components/schemas/account_type"
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: a8937a0d
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/template_list"
          description: List of account templates
      summary: List account templates
      tags:
      - Accounts
      x-external: true
      x-permissions:
      - accounts:read
    post:
      description: |
        Create an account template. An account template is needed to create an account in a lead mode.
      operationId: createAccountTemplate
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/account_template"
        description: Account template to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_template_response"
          description: Account template created
      summary: Create an account template
      tags:
      - Accounts
      x-external: true
    summary: Accounts
  /accounts/templates/{template_id}:
    delete:
      description: Delete account template
      operationId: DeleteAccountTemplate
      parameters:
      - description: Account Template ID
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          example: a8943c51-e4ff-4e57-9558-08cab6b963c0
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/delete_response"
          description: Resource has been deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
      summary: Delete account template
      tags:
      - Accounts
      x-external: true
    get:
      description: Get an account template
      operationId: getAccountTemplate
      parameters:
      - description: Account Template ID
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          example: a8943c51-e4ff-4e57-9558-08cab6b963c0
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_template_response"
          description: Account Template
      summary: Get account template
      tags:
      - Accounts
      x-external: true
      x-permissions:
      - accounts:read
    patch:
      description: Patch account template
      operationId: PatchAccountTemplate
      parameters:
      - description: Account Template ID
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          example: a8943c51-e4ff-4e57-9558-08cab6b963c0
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/patch_account_template"
        description: patch Account template
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_template_response"
          description: Patch Account template
      summary: Patch account template
      tags:
      - Accounts
      x-external: true
    put:
      description: |
        Update account template
      operationId: updateAccountTemplate
      parameters:
      - description: Account Template ID
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          example: a8943c51-e4ff-4e57-9558-08cab6b963c0
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/account_template"
        description: Account template to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_template_response"
          description: Account template updated
      summary: Update account template
      tags:
      - Accounts
      x-external: true
    summary: account
  /ach:
    description: |
      The ACH object represents your sent ACH.
    get:
      description: List sent ACH transactions
      operationId: listTransactionsOut
      parameters:
      - description: Effective date of the transaction
        explode: true
        in: query
        name: effective_date
        required: false
        schema:
          example: 2022-03-15
          format: date
          type: string
        style: form
      - description: ID of the linked incoming ACH entry. This is filled only for
          outgoing ACH entries that are returns and links to the originally received
          incoming entry.
        explode: true
        in: query
        name: incoming_ach_id
        required: false
        schema:
          example: b01db9c7-78f2-4a99-8aca-1231d32f9b96
          format: uuid
          type: string
        style: form
      - description: Start of the effective date range query
        explode: true
        in: query
        name: start_effective_date
        required: false
        schema:
          example: 2022-03-15
          format: date
          type: string
        style: form
      - description: End of the effective date range query
        explode: true
        in: query
        name: end_effective_date
        required: false
        schema:
          example: 2022-03-25
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: a8937a0d
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/outgoing_ach_list"
          description: List of sent ACH transactions.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: List sent ACH transactions
      tags:
      - ACH
      x-external: true
    post:
      description: |
        Send an ACH
      operationId: addTransactionOut
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/outgoing_ach_request"
        description: Send ACH request
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/outgoing_ach"
          description: Sent ACH response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unprocessable entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: Send an ACH
      tags:
      - ACH
      x-external: true
    summary: Sent ACH
  /ach/{transaction_id}:
    get:
      description: Get a single sent ACH transaction
      operationId: getTransactionOut
      parameters:
      - description: Only display holds linked to the provided transaction id
        explode: true
        in: query
        name: transaction_id
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/outgoing_ach"
          description: Sent ACH transaction representation.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: Get a sent ACH transaction
      tags:
      - ACH
      x-external: true
    patch:
      description: Update a sent ACH transaction (either status or funds availability)
      operationId: patchTransactionOut
      parameters:
      - description: Only display holds linked to the provided transaction id
        explode: true
        in: query
        name: transaction_id
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: form
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/outgoing_ach_patch"
        description: Update sent ach transaction
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/outgoing_ach"
          description: Sent ACH transaction representation.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unprocessable entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: Update a sent ACH transaction
      tags:
      - ACH
      x-external: true
    summary: Sent ACH detail
  /ach/gateways:
    description: |
      Gateway Endpoint Configuration object represents the URL and additional parameters
      for external HTTP request to Fintech to get final authorization for the ACH transaction
    get:
      description: Gateway Endpoint Configuration object represents details required
        for Auth flow Request to the Fintech (Tenant)
      operationId: getAllGatewayConfigs
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/gateway_config"
                type: array
          description: Gateway Configuration for Tenant
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: List All Gateway Configurations
      tags:
      - ACH
      x-external: true
      x-permissions:
      - sub_ledger:read
    post:
      description: |
        By creating Gateway Endpoint Configuration object for Fintech,
        you enable ACH in Auth flow for all the ACH transactions for specified Fintech (Tenant)
      operationId: addGatewayConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/gateway_post"
        description: Gateway Config Create Request
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/gateway_config"
          description: Created Gateway Config Object
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: Create New Gateway Endpoint Configuration
      tags:
      - ACH
      x-external: true
    summary: Gateway Endpoint Configuration
  /ach/gateways/{id}:
    delete:
      description: Use this to permanently remove Gateway Configuration and disable
        Auth Flow for Fintech (Tenant)
      operationId: deleteGatewayConfigByID
      parameters:
      - description: The unique resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Gateway Config Object was successfully deleted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: Delete Gateway Endpoint Configuration by ID
      tags:
      - ACH
      x-external: true
    description: |
      Gateway Endpoint Configuration object represents the URL and additional parameters
      for external HTTP request to Fintech to get final authorization for the ACH transaction
    get:
      description: Gateway Endpoint Configuration object represents details required
        for Auth flow Request to the Fintech (Tenant)
      operationId: getGatewayConfigByID
      parameters:
      - description: The unique resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/gateway_config"
          description: Gateway Configuration
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: Get Gateway Endpoint Configuration By ID
      tags:
      - ACH
      x-external: true
      x-permissions:
      - sub_ledger:read
    patch:
      description: Gateway Endpoint Configuration object represents details required
        for Auth flow Request to the Fintech (Tenant)
      operationId: patchGatewayConfigByID
      parameters:
      - description: The unique resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/gateway_patch"
        description: Gateway Config Object fields allowed for update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/gateway_config"
          description: Updated Gateway Config Object
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: Update Gateway Endpoint Configuration By ID
      tags:
      - ACH
      x-external: true
    summary: Gateway Endpoint Configuration
  /ach/incoming:
    get:
      description: |
        > 🚧 Beta
        > This is a Beta endpoint for use by early adopters. Do not use this endpoint with real customers. Feedback from the community is welcome. Any breaking changes to this endpoint will be pre-announced.
      operationId: getIncomingACHList
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: a8937a0d
          type: string
        style: form
      - description: The status of the transaction
        explode: false
        in: query
        name: status
        required: false
        schema:
          example: "PENDING,PARTCLEARED"
          items:
            type: string
          type: array
        style: form
      - description: Start of the settlement date range query
        explode: true
        in: query
        name: settlement_date_from
        required: false
        schema:
          example: 2023-09-15
          format: date
          type: string
        style: form
      - description: End of the settlement date range query
        explode: true
        in: query
        name: settlement_date_to
        required: false
        schema:
          example: 2023-09-25
          format: date
          type: string
        style: form
      - description: Account ID
        explode: false
        in: query
        name: account_id
        required: false
        schema:
          items:
            example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
            format: uuid
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/incoming_ach_list"
          description: Incoming ACH transactions list
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: List Incoming ACH Transactions
      tags:
      - ACH
      x-external: true
    summary: Incoming ACH transactions
  /ach/incoming/{id}:
    get:
      description: |
        > 🚧 Beta
        > This is a Beta endpoint for use by early adopters. Do not use this endpoint with real customers. Feedback from the community is welcome. Any breaking changes to this endpoint will be pre-announced.
      operationId: getIncomingACHByID
      parameters:
      - description: The unique resource identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/incoming_ach"
          description: Incoming ACH transaction
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: Get Incoming ACH Transaction By ID
      tags:
      - ACH
      x-external: true
    summary: Incoming ACH transaction
  /ach/transaction_simulations/receiving_return:
    post:
      description: Use to simulate receiving ACH return in test environments. Creates
        an incoming ACH file with a single return entry based on a previously created
        outgoing transaction. The file gets automatically processed.
      operationId: achReturnSimulation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ach_return_simulation_request"
        description: Incoming ACH return simulation
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ach_simulation_response"
          description: Simulated receiving ACH return
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: Simulate receiving ACH return
      tags:
      - ACH Transaction Simulations
      x-external: true
    summary: Receiving ACH return simulation
  /ach/transaction_simulations/receiving_transaction:
    post:
      description: "Use to simulate receiving ACH transaction in test environments.\
        \ Creates an incoming ACH file with a single transaction, which gets automatically\
        \ processed."
      operationId: achTransactionSimulation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ach_transaction_simulation_request"
        description: Sent ACH request
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ach_simulation_response"
          description: Simulated receiving ACH transaction
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: Simulate receiving ACH transaction
      tags:
      - ACH Transaction Simulations
      x-external: true
    summary: Receiving ACH simulation
  /addresses:
    get:
      operationId: listAddresses
      parameters:
      - description: The unique identifier of a customer.
        explode: true
        in: query
        name: customer_id
        required: false
        schema:
          example: b01db9c7-78f2-4a99-8aca-1231d32f9b96
          format: uuid
          type: string
        style: form
      - description: ID of the business that the risk score applies to
        explode: true
        in: query
        name: business_id
        required: false
        schema:
          example: edebece0-4a06-4806-b062-7de25a848be8
          format: uuid
          type: string
        style: form
      - description: |
          Specifies the address type.
        explode: false
        in: query
        name: address_type
        required: false
        schema:
          items:
            enum:
            - BILLING
            - LEGAL
            - SHIPPING
            - OPERATING
            - OTHER
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: is_registered_agent
        required: false
        schema:
          description: Whether the address uses a registered agent or not
          type: boolean
        style: form
      - explode: true
        in: query
        name: is_active
        required: false
        schema:
          description: Whether the address is active or not
          type: boolean
        style: form
      - description: |
          Country code.
        explode: true
        in: query
        name: country
        required: false
        schema:
          description: ISO 3166-1 Alpha-2 or Alpha-3 country code.
          example: U
          pattern: "^[A-Z]{2,3}$"
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: a8937a0d
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/addresses_list"
          description: List of addresses
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: List Addresses
      tags:
      - Addresses
      x-external: true
    post:
      description: Create a address.
      operationId: createAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/address_post"
        description: Address to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/address_response"
          description: Created address
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unprocessable entity
      summary: Create a address
      tags:
      - Addresses
      x-external: true
    summary: Addresses
  /addresses/{address_id}:
    get:
      description: Get address information by its unique identifier
      operationId: getAddress
      parameters:
      - description: ID of the address
        explode: false
        in: path
        name: address_id
        required: true
        schema:
          example: 1a582c51-e4ff-4e57-9558-08cab6b963aa
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/address_response"
          description: Address information
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: Get address information by id
      tags:
      - Addresses
      x-external: true
    patch:
      description: |
        Update address
      operationId: updateAddress
      parameters:
      - description: ID of the address
        explode: false
        in: path
        name: address_id
        required: true
        schema:
          example: 1a582c51-e4ff-4e57-9558-08cab6b963aa
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/address_patch"
        description: Address patch details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/address_response"
          description: Updated address information
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: Update address information by id
      tags:
      - Addresses
      x-external: true
    summary: Addresses
  /adverse_actions:
    get:
      operationId: listAdverseActions
      parameters:
      - description: return results with these comma-separated IDs
        explode: false
        in: query
        name: id
        required: false
        schema:
          example: "c833e6c6-5c15-4719-90e9-7a6682c483d3,ef17356c-69b0-446e-ae2f-72ab59eeb544"
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: |
          Unique identifier for the related resource. Multiple IDs can be provided as a comma-separated list.
        explode: false
        in: query
        name: related_resource_id
        required: false
        schema:
          example: "64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157"
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: a8937a0d
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adverse_action_list"
          description: List of adverse action notices.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: List adverse action notices
      tags:
      - Adverse Actions (beta)
      x-external: true
    post:
      description: "An adverse action notice is required for Reg B and FCRA when an\
        \ application to grant or increase credit is refused; a counteroffer is made;\
        \ an credit account is terminated; the terms on the account has an unfavorable\
        \ change. \n"
      operationId: createAdverseAction
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/adverse_action"
        description: Adverse action notice to be created.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adverse_action_response"
          description: Created adverse action notice.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: Create an adverse action notice
      tags:
      - Adverse Actions (beta)
      x-external: true
  /adverse_actions/{adverse_action_id}:
    get:
      operationId: getAdverseAction
      parameters:
      - description: Unique identifier for adverse action notice.
        explode: false
        in: path
        name: adverse_action_id
        required: true
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adverse_action_response"
          description: An adverse action created in the system
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: Retrieve an adverse action notice
      tags:
      - Adverse Actions (beta)
      x-external: true
  /applications:
    get:
      description: |
        > 🚧 Beta
        > This is an Beta endpoint. Feedback from the community is welcome. We may make breaking changes to this endpoint.

        List records of applications made for accounts.
      operationId: listApplications
      parameters:
      - description: "A list of customer unique identifiers, with a comma separating\
          \ any values."
        explode: false
        in: query
        name: customer_id
        required: false
        schema:
          items:
            $ref: "#/components/schemas/customer_id"
          type: array
        style: form
      - description: "A list of business unique identifiers, with a comma separating\
          \ any values. Returns applications that are linked to the specified Business\
          \ IDs."
        explode: false
        in: query
        name: business_id
        required: false
        schema:
          items:
            $ref: "#/components/schemas/business_id"
          type: array
        style: form
      - description: |
          Application status values for all types of applications
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: "#/components/schemas/all_application_status"
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: a8937a0d
          type: string
        style: form
      - description: |
          Type of application
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/application_type"
        style: form
      - description: |
          Specifies the sort order for the returned applications.
        explode: false
        in: query
        name: sort_by
        required: false
        schema:
          items:
            enum:
            - status:asc
            - status:desc
            - type:asc
            - type:desc
            - creation_time:asc
            - creation_time:desc
            - last_updated_time:asc
            - last_updated_time:desc
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/application_list"
          description: List of applications.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: List applications
      tags:
      - Applications (beta)
      x-external: true
    post:
      description: |
        > 🚧 Beta
        > This is an Beta endpoint. Feedback from the community is welcome. We may make breaking changes to this endpoint.

        Submit a record of application details for an account.
      operationId: createApplication
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/application"
        description: Application model.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/application_response"
          description: Application created.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource already exists
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: Create an application
      tags:
      - Applications (beta)
      x-external: true
    summary: Applications
  /applications/{application_id}:
    get:
      description: |
        > 🚧 Beta
        > This is an Beta endpoint. Feedback from the community is welcome. We may make breaking changes to this endpoint.

        Get an application's details.
      operationId: getApplication
      parameters:
      - description: Unique identifier for the application.
        explode: false
        in: path
        name: application_id
        required: true
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/application_response"
          description: Application returned.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Internal server error
      summary: Get an application
      tags:
      - Applications (beta)
      x-external: true
    patch:
      description: |
        > 🚧 Beta
        > This is an Beta endpoint. Feedback from the community is welcome. We may make breaking changes to this endpoint.

[...]
