/*
Synctera API

<h2>Let's build something great.</h2><p>Welcome to the official reference documentation for Synctera APIs. Our APIs are the best way to automate your company's banking needs and are designed to be easy to understand and implement.</p><p>We're continuously growing this library and what you see here is just the start, but if you need something specific or have a question, <a class='text-blue-600' href='https://synctera.com/contact' target='_blank' rel='noreferrer'>contact us</a>.</p>

API version: v2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package synctera_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)

// InStoreCashDepositsBetaAPIService InStoreCashDepositsBetaAPI service
type InStoreCashDepositsBetaAPIService service

type ApiCreateBarcodeRequest struct {
	ctx                  context.Context
	ApiService           *InStoreCashDepositsBetaAPIService
	idempotencyKey       *string
	createBarcodeRequest *CreateBarcodeRequest
}

// An idempotency key is an arbitrary unique value generated by client to detect subsequent retries of the same request. It is recommended that a UUID or a similar random identifier be used as an idempotency key. A different key must be used for each request, unless it is a retry.
func (r ApiCreateBarcodeRequest) IdempotencyKey(idempotencyKey string) ApiCreateBarcodeRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

// The barcode to be created.
func (r ApiCreateBarcodeRequest) CreateBarcodeRequest(createBarcodeRequest CreateBarcodeRequest) ApiCreateBarcodeRequest {
	r.createBarcodeRequest = &createBarcodeRequest
	return r
}

func (r ApiCreateBarcodeRequest) Execute() (*BarcodeResponse, *http.Response, error) {
	return r.ApiService.CreateBarcodeExecute(r)
}

/*
CreateBarcode Create a barcode for a cash transaction

> 🚧 Beta > This is a Beta endpoint. Feedback from the community is welcome. We may make breaking changes to this endpoint.
Create a barcode for a cash transaction

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateBarcodeRequest
*/
func (a *InStoreCashDepositsBetaAPIService) CreateBarcode(ctx context.Context) ApiCreateBarcodeRequest {
	return ApiCreateBarcodeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BarcodeResponse
func (a *InStoreCashDepositsBetaAPIService) CreateBarcodeExecute(r ApiCreateBarcodeRequest) (*BarcodeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BarcodeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InStoreCashDepositsBetaAPIService.CreateBarcode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cash/barcodes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.createBarcodeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetBarcodeRequest struct {
	ctx        context.Context
	ApiService *InStoreCashDepositsBetaAPIService
	barcodeId  string
}

func (r ApiGetBarcodeRequest) Execute() (*BarcodeResponse, *http.Response, error) {
	return r.ApiService.GetBarcodeExecute(r)
}

/*
GetBarcode Get a barcode

> 🚧 Beta > This is a Beta endpoint. Feedback from the community is welcome. We may make breaking changes to this endpoint.
Get a barcode

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param barcodeId
	@return ApiGetBarcodeRequest
*/
func (a *InStoreCashDepositsBetaAPIService) GetBarcode(ctx context.Context, barcodeId string) ApiGetBarcodeRequest {
	return ApiGetBarcodeRequest{
		ApiService: a,
		ctx:        ctx,
		barcodeId:  barcodeId,
	}
}

// Execute executes the request
//
//	@return BarcodeResponse
func (a *InStoreCashDepositsBetaAPIService) GetBarcodeExecute(r ApiGetBarcodeRequest) (*BarcodeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BarcodeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InStoreCashDepositsBetaAPIService.GetBarcode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cash/barcodes/{barcode_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"barcode_id"+"}", url.PathEscape(parameterValueToString(r.barcodeId, "barcodeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetBarcodesRequest struct {
	ctx                  context.Context
	ApiService           *InStoreCashDepositsBetaAPIService
	limit                *int32
	pageToken            *string
	accountId            *[]string
	barcodeNumber        *[]string
	barcodeNumberLike    *string
	billerId             *[]string
	billerIdLike         *string
	customerId           *[]string
	fromCreationTime     *time.Time
	fromLastUpdatedTime  *time.Time
	fromTimestampValidTo *time.Time
	id                   *[]string
	sortBy               *[]string
	status               *[]BarcodeStatus
	tenant               *[]string
	toCreationTime       *time.Time
	toLastUpdatedTime    *time.Time
	toTimestampValidTo   *time.Time
	type_                *[]BarcodeType
	upc                  *[]string
	upcLike              *string
}

func (r ApiGetBarcodesRequest) Limit(limit int32) ApiGetBarcodesRequest {
	r.limit = &limit
	return r
}

func (r ApiGetBarcodesRequest) PageToken(pageToken string) ApiGetBarcodesRequest {
	r.pageToken = &pageToken
	return r
}

func (r ApiGetBarcodesRequest) AccountId(accountId []string) ApiGetBarcodesRequest {
	r.accountId = &accountId
	return r
}

func (r ApiGetBarcodesRequest) BarcodeNumber(barcodeNumber []string) ApiGetBarcodesRequest {
	r.barcodeNumber = &barcodeNumber
	return r
}

// Case insensitive wildcard search for barcode_number, wildcards can be specified with &#39;*&#39;. Wildcards at both the start and the end of the input is assumed.
func (r ApiGetBarcodesRequest) BarcodeNumberLike(barcodeNumberLike string) ApiGetBarcodesRequest {
	r.barcodeNumberLike = &barcodeNumberLike
	return r
}

func (r ApiGetBarcodesRequest) BillerId(billerId []string) ApiGetBarcodesRequest {
	r.billerId = &billerId
	return r
}

// Case insensitive wildcard search for biller_id, wildcards can be specified with &#39;*&#39;. Wildcards at both the start and the end of the input is assumed.
func (r ApiGetBarcodesRequest) BillerIdLike(billerIdLike string) ApiGetBarcodesRequest {
	r.billerIdLike = &billerIdLike
	return r
}

func (r ApiGetBarcodesRequest) CustomerId(customerId []string) ApiGetBarcodesRequest {
	r.customerId = &customerId
	return r
}

func (r ApiGetBarcodesRequest) FromCreationTime(fromCreationTime time.Time) ApiGetBarcodesRequest {
	r.fromCreationTime = &fromCreationTime
	return r
}

func (r ApiGetBarcodesRequest) FromLastUpdatedTime(fromLastUpdatedTime time.Time) ApiGetBarcodesRequest {
	r.fromLastUpdatedTime = &fromLastUpdatedTime
	return r
}

func (r ApiGetBarcodesRequest) FromTimestampValidTo(fromTimestampValidTo time.Time) ApiGetBarcodesRequest {
	r.fromTimestampValidTo = &fromTimestampValidTo
	return r
}

func (r ApiGetBarcodesRequest) Id(id []string) ApiGetBarcodesRequest {
	r.id = &id
	return r
}

func (r ApiGetBarcodesRequest) SortBy(sortBy []string) ApiGetBarcodesRequest {
	r.sortBy = &sortBy
	return r
}

func (r ApiGetBarcodesRequest) Status(status []BarcodeStatus) ApiGetBarcodesRequest {
	r.status = &status
	return r
}

func (r ApiGetBarcodesRequest) Tenant(tenant []string) ApiGetBarcodesRequest {
	r.tenant = &tenant
	return r
}

func (r ApiGetBarcodesRequest) ToCreationTime(toCreationTime time.Time) ApiGetBarcodesRequest {
	r.toCreationTime = &toCreationTime
	return r
}

func (r ApiGetBarcodesRequest) ToLastUpdatedTime(toLastUpdatedTime time.Time) ApiGetBarcodesRequest {
	r.toLastUpdatedTime = &toLastUpdatedTime
	return r
}

func (r ApiGetBarcodesRequest) ToTimestampValidTo(toTimestampValidTo time.Time) ApiGetBarcodesRequest {
	r.toTimestampValidTo = &toTimestampValidTo
	return r
}

func (r ApiGetBarcodesRequest) Type_(type_ []BarcodeType) ApiGetBarcodesRequest {
	r.type_ = &type_
	return r
}

func (r ApiGetBarcodesRequest) Upc(upc []string) ApiGetBarcodesRequest {
	r.upc = &upc
	return r
}

// Case insensitive wildcard search for upc, wildcards can be specified with &#39;*&#39;. Wildcards at both the start and the end of the input is assumed.
func (r ApiGetBarcodesRequest) UpcLike(upcLike string) ApiGetBarcodesRequest {
	r.upcLike = &upcLike
	return r
}

func (r ApiGetBarcodesRequest) Execute() (*BarcodeListResponse, *http.Response, error) {
	return r.ApiService.GetBarcodesExecute(r)
}

/*
GetBarcodes Get a list of barcodes

> 🚧 Beta > This is a Beta endpoint. Feedback from the community is welcome. We may make breaking changes to this endpoint.
Get a list of barcodes

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetBarcodesRequest
*/
func (a *InStoreCashDepositsBetaAPIService) GetBarcodes(ctx context.Context) ApiGetBarcodesRequest {
	return ApiGetBarcodesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BarcodeListResponse
func (a *InStoreCashDepositsBetaAPIService) GetBarcodesExecute(r ApiGetBarcodesRequest) (*BarcodeListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BarcodeListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InStoreCashDepositsBetaAPIService.GetBarcodes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cash/barcodes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.pageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_token", r.pageToken, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId, "form", "csv")
	}
	if r.barcodeNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "barcode_number", r.barcodeNumber, "form", "csv")
	}
	if r.barcodeNumberLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "barcode_number_like", r.barcodeNumberLike, "form", "")
	}
	if r.billerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biller_id", r.billerId, "form", "csv")
	}
	if r.billerIdLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biller_id_like", r.billerIdLike, "form", "")
	}
	if r.customerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customer_id", r.customerId, "form", "csv")
	}
	if r.fromCreationTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from_creation_time", r.fromCreationTime, "form", "")
	}
	if r.fromLastUpdatedTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from_last_updated_time", r.fromLastUpdatedTime, "form", "")
	}
	if r.fromTimestampValidTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from_timestamp_valid_to", r.fromTimestampValidTo, "form", "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "csv")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "form", "csv")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "csv")
	}
	if r.tenant != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant", r.tenant, "form", "csv")
	}
	if r.toCreationTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to_creation_time", r.toCreationTime, "form", "")
	}
	if r.toLastUpdatedTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to_last_updated_time", r.toLastUpdatedTime, "form", "")
	}
	if r.toTimestampValidTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to_timestamp_valid_to", r.toTimestampValidTo, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "csv")
	}
	if r.upc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "upc", r.upc, "form", "csv")
	}
	if r.upcLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "upc_like", r.upcLike, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRetailerMapUrlRequest struct {
	ctx        context.Context
	ApiService *InStoreCashDepositsBetaAPIService
	lat        *float32
	lng        *float32
}

func (r ApiGetRetailerMapUrlRequest) Lat(lat float32) ApiGetRetailerMapUrlRequest {
	r.lat = &lat
	return r
}

func (r ApiGetRetailerMapUrlRequest) Lng(lng float32) ApiGetRetailerMapUrlRequest {
	r.lng = &lng
	return r
}

func (r ApiGetRetailerMapUrlRequest) Execute() (*BarcodeRetailerMapUrlResponse, *http.Response, error) {
	return r.ApiService.GetRetailerMapUrlExecute(r)
}

/*
GetRetailerMapUrl Get the available retailer map URL.

> 🚧 Beta > This is a Beta endpoint. Feedback from the community is welcome. We may make breaking changes to this endpoint.
Get the available retailer map URL

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetRetailerMapUrlRequest
*/
func (a *InStoreCashDepositsBetaAPIService) GetRetailerMapUrl(ctx context.Context) ApiGetRetailerMapUrlRequest {
	return ApiGetRetailerMapUrlRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BarcodeRetailerMapUrlResponse
func (a *InStoreCashDepositsBetaAPIService) GetRetailerMapUrlExecute(r ApiGetRetailerMapUrlRequest) (*BarcodeRetailerMapUrlResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BarcodeRetailerMapUrlResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InStoreCashDepositsBetaAPIService.GetRetailerMapUrl")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cash/barcodes/retailer_map_url"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.lat != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lat", r.lat, "form", "")
	}
	if r.lng != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lng", r.lng, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateBarcodeRequest struct {
	ctx                 context.Context
	ApiService          *InStoreCashDepositsBetaAPIService
	barcodeId           string
	barcodePatchRequest *BarcodePatchRequest
}

func (r ApiUpdateBarcodeRequest) BarcodePatchRequest(barcodePatchRequest BarcodePatchRequest) ApiUpdateBarcodeRequest {
	r.barcodePatchRequest = &barcodePatchRequest
	return r
}

func (r ApiUpdateBarcodeRequest) Execute() (*BarcodeResponse, *http.Response, error) {
	return r.ApiService.UpdateBarcodeExecute(r)
}

/*
UpdateBarcode Update a barcode

> 🚧 Beta > This is a Beta endpoint. Feedback from the community is welcome. We may make breaking changes to this endpoint.
Update a barcode

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param barcodeId
	@return ApiUpdateBarcodeRequest
*/
func (a *InStoreCashDepositsBetaAPIService) UpdateBarcode(ctx context.Context, barcodeId string) ApiUpdateBarcodeRequest {
	return ApiUpdateBarcodeRequest{
		ApiService: a,
		ctx:        ctx,
		barcodeId:  barcodeId,
	}
}

// Execute executes the request
//
//	@return BarcodeResponse
func (a *InStoreCashDepositsBetaAPIService) UpdateBarcodeExecute(r ApiUpdateBarcodeRequest) (*BarcodeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BarcodeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InStoreCashDepositsBetaAPIService.UpdateBarcode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cash/barcodes/{barcode_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"barcode_id"+"}", url.PathEscape(parameterValueToString(r.barcodeId, "barcodeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.barcodePatchRequest == nil {
		return localVarReturnValue, nil, reportError("barcodePatchRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.barcodePatchRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
