# Verification

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**BusinessId** | **string** |  | [optional] [default to null]
**CreationTime** | [**time.Time**](time.Time.md) | The date and time the resource was created. | [optional] [default to null]
**Details** | [***[]Detail**](array.md) |  | [optional] [default to null]
**Id** | **string** | Unique ID for this verification result. | [optional] [default to null]
**LastUpdatedTime** | [**time.Time**](time.Time.md) | The date and time the resource was last updated. | [optional] [default to null]
**Metadata** | [***Metadata**](metadata.md) |  | [optional] [default to null]
**PersonId** | **string** |  | [optional] [default to null]
**Result** | [***VerificationResult**](verification_result.md) |  | [optional] [default to null]
**VendorInfo** | [***VendorInfo**](vendor_info.md) |  | [optional] [default to null]
**VerificationTime** | [**time.Time**](time.Time.md) | The date and time the verification was completed. | [optional] [default to null]
**VerificationType** | [***VerificationType1**](verification_type1.md) |  | [optional] [default to null]

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)

