openapi: 3.0.3
info:
  description: "<h2>Let's build something great.</h2><p>Welcome to the official reference\
    \ documentation for Synctera APIs. Our APIs are the best way to automate your\
    \ company's banking needs and are designed to be easy to understand and implement.</p><p>We're\
    \ continuously growing this library and what you see here is just the start, but\
    \ if you need something specific or have a question, <a class='text-blue-600'\
    \ href='https://synctera.com/contact' target='_blank' rel='noreferrer'>contact\
    \ us</a>.</p>"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Synctera API
  version: 0.69.0
servers:
- description: Sandbox (no real world financial impact)
  url: https://api-sandbox.synctera.com/v0
- description: Production
  url: https://api.synctera.com/v0
security:
- bearerAuth: []
tags:
- description: Lookup merchant information
  name: Merchants
- description: Requests to generate simulated webhooks
  name: Card Webhook Simulations
- description: Simulate receiving ACH transactions and returns
  name: ACH Transaction Simulations
- description: Requests to link and manage External Cards
  name: External Cards
- description: |
    The disclosures resource is used to track the status of disclosures and
    ensure that all parties have been shown the necessary disclosures to meet
    regulatory obligations.
  name: Disclosures
- description: Requests to initiate customer verification.
  name: KYC Verification (deprecated)
- description: Request to create and manage users
  name: Users
- description: See balance history
  name: BalanceHistory
- description: |
    The External Account resource is used for managing links to accounts
    that operate outside of the Synctera ecosystem.
  name: External Accounts
- description: "Requests to create and manage account products, including fees, interest."
  name: Account Products
- description: Requests to create and manage webhooks
  name: Webhooks
- description: Create and manage documents.
  name: Documents
- description: Create and manage same currency and multi-currency international wire
    transfers
  name: International Wires (alpha)
- description: Requests for transaction risk detection
  name: Transaction risk
- description: Request to create and manage cash_pickups
  name: Cash Pickups (alpha)
- description: Request to create and manage party groups and party group members
  name: Party Groups
- description: Requests to manage monitoring subscriptions and alerts for customers.
  name: Monitoring
- description: Requests to search and manage compliance searches
  name: Compliance Searches
- description: Requests to create and manage customers
  name: Customers
- description: |
    The internal account resource is used for managing links to internal
    accounts where the funds are managed by integrators.
  name: Internal Accounts
- description: Create and manage spending controls
  name: Spend Controls
- description: Retrieve user identity information
  name: Identity
- description: Requests to manage banks
  name: Banks
- description: |
    The Disclosures resource is used to track the status of disclosures and
    ensure that customers have been shown the necessary disclosures to meet
    regulatory obligations.
  name: Disclosures (deprecated)
- description: Create and manage wire transfers
  name: Wires
- description: Requests to issue and manage Cards
  name: Cards
- description: "Request to enroll, renew, or cancel watchlist monitors"
  name: Watchlist (deprecated)
- description: Endpoints for modifying or fetching posting dates
  name: Posting Dates
- description: Request to create and manage accounts
  name: Accounts
- description: Requests to create and perform administrative functions
  name: Admin
- description: Requests to create and manage notes
  name: Notes
- description: Account Template
  name: Account Templates
- description: |
    A natural person (individual human) that is relevant to the Synctera platform in some way: e.g. a personal customer or a director/officer/owner of a business.
  name: Persons
- description: |
    Represents the relationships between parties. A relationship can exist between personal customers, business customers, or non-customer persons/organizations.
  name: Relationships
- description: |
    A legal entity (corporation, partnership, etc.) that is relevant to the Synctera platform in some way: a business customer or some other organization that has an ownership share in such a business customer.
  name: Businesses
- description: Request to create and manage payment_schedules
  name: Cronut
- description: Requests to manage partners
  name: Partners
- description: Request to create and manage deposits using remote deposit capture
  name: Remote Check Deposit
- description: Requests to create and manage API keys
  name: API Keys
- description: Requests to create and manage ban rules
  name: Ban Rules
- description: Admin API for Middesk configuration using the tenants API keys.
  name: Middesk
- description: Request to create and manage exclusions
  name: Stately
- description: Request to create and manage partner configurations
  name: Quickstart
- description: Create and manage transactions
  name: Transactions
- description: Request to create and manage rdc configurations
  name: RDC Config
- description: Create and manage holds
  name: Hold
- description: Requests to create and manage roles
  name: Roles
- description: Simulate receiving Wire transactions and returns
  name: Wire Transaction Simulations
- description: Requests to create licenses
  name: Licenses
- description: Configure vendor secrets for egress requests
  name: Egress Gateway Vendor Secret CRUD API
- description: Create and manage payments
  name: ACH
- description: Create and manage tenant configurations
  name: Tenant Configs
- description: Create and manage sweep configurations
  name: Configs
- description: |
    Represents the compliance rules that are used to verify certain kinds of money movement.
  name: Compliance Rules
- description: Configure webhook secrets for egress requests
  name: Egress Gateway Webhook Secret CRUD API
- description: Create and manage EFT Canada transfers
  name: EFT Canada (alpha)
- description: Create and manage transactions
  name: Transactions (internal)
- description: History
  name: History
- description: Requests to generate simulated transactions
  name: Card Transaction Simulations
- description: Requests to initiate customer verification.
  name: KYC/KYB Verifications
- description: Request to create and manage waitlists
  name: Waitlist
paths:
  /accounts:
    get:
      description: Get paginated list of Accounts associated
      operationId: listAccounts
      parameters:
      - description: |
          Nickname of the account
        explode: true
        in: query
        name: nickname
        required: false
        schema:
          type: string
        style: form
      - description: |
          Account number(s). Multiple account numbers can be provided as a comma-separated list.
          When only a single account number is provided, any * characters in the string are wildcards, and match any characters.
        explode: false
        in: query
        name: account_number
        required: false
        schema:
          example: "2345678108180014864"
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: last_name
        required: false
        schema:
          description: "Only return resources where the last_name field matches the\
            \ specified string. Any * characters in the string are wildcards, and\
            \ match any characters."
          example: Smith
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/status'
        style: form
      - explode: true
        in: query
        name: first_name
        required: false
        schema:
          description: "Only return resources where the first_name or chosen_name\
            \ field matches the specified string. Any * characters in the string are\
            \ wildcards, and match any characters."
          example: Alice
          type: string
        style: form
      - deprecated: true
        description: |
          Overflow account ID(s). Multiple IDs can be provided as a comma-separated list.
          This parameter is deprecated and will be removed in a future API version. Use linked_account_id instead.
        explode: false
        in: query
        name: overflow_account_id
        required: false
        schema:
          example: "64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157"
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: |
          The type of the account
        explode: true
        in: query
        name: account_type
        required: false
        schema:
          $ref: '#/components/schemas/account_type'
        style: form
      - description: |
          Unique identifier for the business. Multiple IDs can be provided as a comma-separated list.
        explode: false
        in: query
        name: business_id
        required: false
        schema:
          example: "64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157"
          items:
            format: uuid
            type: string
          type: array
        style: form
      - deprecated: true
        description: |
          Overdraft account ID(s). Multiple IDs can be provided as a comma-separated list.
          This parameter is deprecated and will be removed in a future API version. Use linked_account_id instead.
        explode: false
        in: query
        name: overdraft_account_id
        required: false
        schema:
          example: "64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157"
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: |
          Spend Control ID(s). Multiple IDs can be provided as a comma-separated list.
          Return only resources that use the specified Spend Controls.
        explode: false
        in: query
        name: spend_control_ids
        required: false
        schema:
          $ref: '#/components/schemas/spend_control_ids'
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: a8937a0d
          type: string
        style: form
      - description: |
          Unique identifier for the person. Multiple IDs can be provided as a comma-separated list.
        explode: false
        in: query
        name: person_id
        required: false
        schema:
          example: "64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157"
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: |
          Customer type of the account, BUSINESS or PERSONAL
        explode: true
        in: query
        name: customer_type
        required: false
        schema:
          $ref: '#/components/schemas/customer_type'
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
      - deprecated: true
        description: The customer's unique identifier
        explode: true
        in: query
        name: customer_id
        required: false
        schema:
          $ref: '#/components/schemas/customer_id'
        style: form
      - description: Interest product ID that accounts associate with. Multiple IDs
          can be provided as a comma-separated list.
        explode: true
        in: query
        name: interest_product_id
        required: false
        schema:
          type: string
        style: form
      - description: |
          Return only resources that are linked to the specified backing account in balance_floor or balance_ceiling. Multiple IDs can be provided as a comma-separated list.
        explode: false
        in: query
        name: linked_account_id
        required: false
        schema:
          example: "64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157"
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: |
          Account ID(s). Multiple IDs can be provided as a comma-separated list.
        explode: false
        in: query
        name: id
        required: false
        schema:
          example: "64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157"
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: |
          Specifies the sort order for the returned accounts.
        explode: false
        in: query
        name: sort_by
        required: false
        schema:
          items:
            enum:
            - account_number:asc
            - account_number:desc
            - account_type:asc
            - account_type:desc
            - first_name:asc
            - first_name:desc
            - last_name:asc
            - last_name:desc
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_list'
          description: List of accounts
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List accounts
      tags:
      - Accounts
      x-external: true
    post:
      description: |
        Creates an account copying values from account template into the account resource.  Any fields defined as part of account creation will overwrite the ones provided from the account template.

        Required fields:
          - relationships
      operationId: createAccount
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_creation'
        description: Account to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_generic_response'
          description: Created account
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
      summary: Create an account
      tags:
      - Accounts
      x-external: true
    summary: Accounts
  /accounts/products:
    get:
      description: |
        List account Products
      operationId: listAccountResourceProducts
      parameters:
      - description: Date range filtering for type INTEREST. All rates in interest
          resource have to have valid_to earlier or equal to end_date.
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: a8937a0d
          type: string
        style: form
      - description: Type of account product
        explode: true
        in: query
        name: product_type
        required: true
        schema:
          enum:
          - FEE
          - INTEREST
          type: string
        style: form
      - description: ID of account product. Multiple IDs can be provided as a comma-separated
          list.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
      - description: Date range filtering for type INTEREST. All rates in interest
          resource have to have valid_from later or equal to start_date.
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_product_list'
          description: List of account products
      summary: List account products
      tags:
      - Accounts
      x-external: true
    post:
      description: |
        Create an account product. Rates cannot be nil or empty.
      operationId: createAccountResourceProduct
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_product'
        description: Account product to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_product'
          description: Account product created
      summary: Create an account product
      tags:
      - Accounts
      x-external: true
    summary: Account products
  /accounts/products/{product_id}:
    patch:
      description: |
        Patch account product. Rates requires at minimum 1 entry if specified.
      operationId: patchAccountProduct
      parameters:
      - description: Account Product ID
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          example: 92113c51-e4ff-4e57-9558-08cab6b963dd
          format: uuid
          type: string
        style: simple
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patch_account_product'
        description: Account product fields to be patched
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_product'
          description: Updated account product
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
      summary: Patch account product
      tags:
      - Accounts
      x-external: true
    summary: Account products
  /accounts/templates:
    get:
      description: |
        List account templates
      operationId: listAccountTemplates
      parameters:
      - description: |
          The type of the account
        explode: true
        in: query
        name: account_type
        required: false
        schema:
          $ref: '#/components/schemas/account_type'
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: a8937a0d
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template_list'
          description: List of account templates
      summary: List account templates
      tags:
      - Accounts
      x-external: true
    post:
      description: |
        Create an account template. An account template is needed to create an account in a lead mode.
      operationId: createAccountTemplate
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_template'
        description: Account template to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_template_response'
          description: Account template created
      summary: Create an account template
      tags:
      - Accounts
      x-external: true
    summary: Accounts
  /accounts/templates/{template_id}:
    delete:
      description: Delete account template
      operationId: DeleteAccountTemplate
      parameters:
      - description: Account Template ID
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          example: a8943c51-e4ff-4e57-9558-08cab6b963c0
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_response'
          description: Resource has been deleted
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
      summary: Delete account template
      tags:
      - Accounts
      x-external: true
    get:
      description: Get an account template
      operationId: getAccountTemplate
      parameters:
      - description: Account Template ID
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          example: a8943c51-e4ff-4e57-9558-08cab6b963c0
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_template_response'
          description: Account Template
      summary: Get account template
      tags:
      - Accounts
      x-external: true
    put:
      description: |
        Update account template
      operationId: updateAccountTemplate
      parameters:
      - description: Account Template ID
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          example: a8943c51-e4ff-4e57-9558-08cab6b963c0
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_template'
        description: Account template to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_template_response'
          description: Account template updated
      summary: Update account template
      tags:
      - Accounts
      x-external: true
    summary: account
  /accounts/{account_id}:
    get:
      description: Get an account
      operationId: getAccount
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 57826c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_generic_response'
          description: Account
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Get account
      tags:
      - Accounts
      x-external: true
    patch:
      description: |
        Patch account.

        Immutable fields:
          - account_number
          - account_type
          - account_template_id
          - customer_type

        Please note:
          - Other fields cannot be modified when access_status is FROZEN.
          - access_status has to be patched individually without other fields.
      operationId: patchAccount
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 57826c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patch_account'
        description: Account fields to be patched
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_generic_response'
          description: Updated account
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Patch account
      tags:
      - Accounts
      x-external: true
    put:
      deprecated: true
      description: |
        > Deprecated. Please use PATCH /v0/accounts. This route only supports types CHECKING and SAVING.

        Update account

        Shadow mode required fields:
          - account_number
          - status

        Lead mode required fields:
          - All fields are required.

        Please note:
          - access_status needs to be in ACTIVE.
          - PUT request cannot change access_status.
      operationId: updateAccount
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 57826c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_account'
        description: Account to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_generic_response'
          description: Updated account
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Update account
      tags:
      - Accounts
      x-external: true
    summary: account
  /accounts/{account_id}/relationships:
    get:
      description: List all customers of an account
      operationId: listAccountRelationship
      parameters:
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: a8937a0d
          type: string
        style: form
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 57826c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationship_list'
          description: List of account relationships
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: List account relationships
      tags:
      - Accounts
      x-external: true
    post:
      description: Add a customer to an account
      operationId: createAccountRelationship
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 57826c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/relationship'
        description: Account relationship object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationship_response'
          description: Account relationship object
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Create account relationship
      tags:
      - Accounts
      x-external: true
    summary: Account Relationship
  /accounts/{account_id}/relationships/{relationship_id}:
    delete:
      description: Delete account relationship
      operationId: DeleteAccountRelationship
      parameters:
      - description: Relationship ID of the account associate with the account entity
        explode: false
        in: path
        name: relationship_id
        required: true
        schema:
          example: 1a582c51-e4ff-4e57-9558-08cab6b963aa
          format: uuid
          type: string
        style: simple
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 57826c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_response'
          description: Resource has been deleted
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Delete account relationship
      tags:
      - Accounts
      x-external: true
    get:
      description: Get account relationship by ID
      operationId: getAccountRelationship
      parameters:
      - description: Relationship ID of the account associate with the account entity
        explode: false
        in: path
        name: relationship_id
        required: true
        schema:
          example: 1a582c51-e4ff-4e57-9558-08cab6b963aa
          format: uuid
          type: string
        style: simple
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 57826c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationship_response'
          description: Account relationship
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Get account relationship
      tags:
      - Accounts
      x-external: true
    put:
      description: Update account relationship. Only relationship_type can be updated.
        customer_id should not be modified.
      operationId: updateAccountRelationship
      parameters:
      - description: Relationship ID of the account associate with the account entity
        explode: false
        in: path
        name: relationship_id
        required: true
        schema:
          example: 1a582c51-e4ff-4e57-9558-08cab6b963aa
          format: uuid
          type: string
        style: simple
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 57826c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/relationship'
        description: Account relationship to be updated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationship_response'
          description: Updated account relationship
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Update account relationship
      tags:
      - Accounts
      x-external: true
    summary: Account Relationship
  /ach:
    description: |
      The ACH object represents your sent ACH.
    get:
      description: List sent ACH transactions
      operationId: listTransactionsOut
      parameters:
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: a8937a0d
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outgoing_ach_list'
          description: List of sent ACH transactions.
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List sent ACH transactions
      tags:
      - ACH
      x-external: true
    post:
      description: |
        Send an ACH
      operationId: addTransactionOut
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/outgoing_ach_request'
        description: Send ACH request
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outgoing_ach'
          description: Sent ACH response
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Send an ACH
      tags:
      - ACH
      x-external: true
    summary: Sent ACH
  /ach/transaction_simulations/receiving_return:
    post:
      description: Use to simulate receiving ACH return in test environments. Creates
        an incoming ACH file with a single return entry based on a previously created
        outgoing transaction. The file gets automatically processed.
      operationId: achReturnSimulation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ach_return_simulation_request'
        description: Incoming ACH return simulation
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ach_simulation_response'
          description: Simulated receiving ACH return
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Simulate receiving ACH return
      tags:
      - ACH Transaction Simulations
      x-external: true
    summary: Receiving ACH return simulation
  /ach/transaction_simulations/receiving_transaction:
    post:
      description: "Use to simulate receiving ACH transaction in test environments.\
        \ Creates an incoming ACH file with a single transaction, which gets automatically\
        \ processed."
      operationId: achTransactionSimulation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ach_transaction_simulation_request'
        description: Sent ACH request
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ach_simulation_response'
          description: Simulated receiving ACH transaction
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Simulate receiving ACH transaction
      tags:
      - ACH Transaction Simulations
      x-external: true
    summary: Receiving ACH simulation
  /ach/{transaction_id}:
    get:
      description: Get a single sent ACH transaction
      operationId: getTransactionOut
      parameters:
      - description: Transaction ID in the ledger
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          example: b01db9c7-78f2-4a99-8aca-1231d32f9b96
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outgoing_ach'
          description: Sent ACH transaction representation.
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get a sent ACH transaction
      tags:
      - ACH
      x-external: true
    patch:
      description: Update a sent ACH transaction (either status or funds availability)
      operationId: patchTransactionOut
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      - description: Transaction ID in the ledger
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          example: b01db9c7-78f2-4a99-8aca-1231d32f9b96
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/outgoing_ach_patch'
        description: Update sent ach transaction
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outgoing_ach'
          description: Sent ACH transaction representation.
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Update a sent ACH transaction
      tags:
      - ACH
      x-external: true
    summary: Sent ACH detail
  /businesses:
    get:
      description: Retrieves paginated list of businesses associated with the authorized
        requester.
      operationId: listBusinesses
      parameters:
      - explode: true
        in: query
        name: status
        required: false
        schema:
          description: |
            Status of the business. One of the following:
            * `PROSPECT` – a potential customer, used for information-gathering and disclosures.
            * `ACTIVE` –  is an integrator defined status.  Integrators should set a business to active if they believe the person to be qualified for conducting business.  Synctera will combine this status with other statuses such a verification to determine if the business is eligible for specific actions such as initiating transactions or issuing a card.
            * `FROZEN` – business's actions are blocked for security, legal, or other reasons.
            * `SANCTION` – business is on a sanctions list and should be carefully monitored.
            * `DISSOLVED` – an inactive status indicating a business entity has filed articles of dissolution or a certificate of termination to terminate its existence.
            * `CANCELLED` – an inactive status indicating that a business entity has filed a cancellation or has failed to file its periodic report after notice of forfeiture of its rights to do business.
            * `SUSPENDED` – an inactive status indicating that the business entity has lost the right to operate in it's registered jurisdiction.
            * `MERGED` – an inactive status indicating that the business entity has terminated existence by merging into another entity.
            * `INACTIVE` – an inactive status indicating that the business entity is no longer active.
            * `CONVERTED` – An inactive status indicating that the business entity has been converted to another type of business entity in the same jurisdiction.
          enum:
          - ACTIVE
          - CANCELLED
          - CONVERTED
          - DISSOLVED
          - FROZEN
          - INACTIVE
          - MERGED
          - PROSPECT
          - SANCTION
          - SUSPENDED
          type: string
        style: form
      - description: "If true, show only customers. If false, show non-customer parties."
        explode: true
        in: query
        name: is_customer
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Specifies the sort order for the returned businesses.
        explode: false
        in: query
        name: sort_by
        required: false
        schema:
          items:
            enum:
            - creation_time:asc
            - creation_time:desc
            - entity_name:asc
            - entity_name:desc
            - last_updated_time:asc
            - last_updated_time:desc
            type: string
          type: array
        style: form
      - description: |
          Filter on resources that have an account(s)
        explode: true
        in: query
        name: has_accounts
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          Unique identifier for the business. Multiple IDs can be provided as a comma-separated list.
        explode: false
        in: query
        name: id
        required: false
        schema:
          example: "64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157"
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: phone_number
        required: false
        schema:
          description: "Only return resources where the phone_number field matches\
            \ the specified string. Phone numbers use the E.164 format e.g. +19178675309.\
            \ Any * characters in the string are wildcards, and match any characters."
          example: +12065550100
          type: string
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: a8937a0d
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: entity_name
        required: false
        schema:
          description: "Only return resources where the `entity_name` field matches\
            \ the specified string. Any `*` characters in the string are wildcards,\
            \ and match any characters."
          example: Apex Corporation
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business_list'
          description: List of businesses.
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List business
      tags:
      - Businesses
      x-external: true
      x-status: alpha
    post:
      description: |
        Create a business who may act as a customer or a related business. You can then verify the identity of this customer and associate them with other people and accounts.
      operationId: createBusiness
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/business'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business'
          description: The created business.
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "409":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource already exists error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Create a business
      tags:
      - Businesses
      x-external: true
      x-status: alpha
    summary: Businesses
  /businesses/{business_id}:
    get:
      description: Get business by ID.
      operationId: getBusiness
      parameters:
      - description: Business's unique identifier.
        explode: false
        in: path
        name: business_id
        required: true
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business'
          description: Business representation.
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get business
      tags:
      - Businesses
      x-external: true
      x-status: alpha
    patch:
      description: Update business by ID.
      operationId: updateBusiness
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      - description: Business's unique identifier.
        explode: false
        in: path
        name: business_id
        required: true
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patch_business'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business'
          description: Updated business representation.
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Patch business
      tags:
      - Businesses
      x-external: true
      x-status: alpha
  /cards:
    description: |
      The Card object represents your customer's spending card.
    get:
      description: |
        List of cards matching query parameters
      operationId: listCards
      parameters:
      - description: The last 4 digits of the card PAN
        explode: true
        in: query
        name: last_four
        required: false
        schema:
          example: "1234"
          pattern: "^\\d{4}$"
          type: string
        style: form
      - description: The postal code of a card user
        explode: true
        in: query
        name: postal_code
        required: false
        schema:
          example: "49633"
          type: string
        style: form
      - explode: true
        in: query
        name: customer_id
        required: false
        schema:
          $ref: '#/components/schemas/customer_id1'
        style: form
      - description: The brand of a card product
        explode: true
        in: query
        name: card_brand
        required: false
        schema:
          $ref: '#/components/schemas/card_brand'
        style: form
      - description: emboss name
        explode: true
        in: query
        name: emboss_name
        required: false
        schema:
          type: string
        style: form
      - description: Indicates the type of card
        explode: true
        in: query
        name: card_type
        required: false
        schema:
          $ref: '#/components/schemas/card_type'
        style: form
      - description: The format of the card
        explode: true
        in: query
        name: form
        required: false
        schema:
          $ref: '#/components/schemas/form'
        style: form
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: a8937a0d
          type: string
        style: form
      - description: The status of a card
        explode: true
        in: query
        name: card_status
        required: false
        schema:
          $ref: '#/components/schemas/card_status'
        style: form
      - explode: true
        in: query
        name: card_product_id
        required: false
        schema:
          $ref: '#/components/schemas/card_product_id'
        style: form
      - description: Account ID(s). Multiple IDs can be provided as a comma-separated
          list.
        explode: false
        in: query
        name: account_id
        required: false
        schema:
          items:
            $ref: '#/components/schemas/account_id'
          type: array
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: barcode
        required: false
        schema:
          $ref: '#/components/schemas/barcode'
        style: form
      - description: The date representing when the card would expire at
        explode: true
        in: query
        name: expiration_date
        required: false
        schema:
          example: 2006-01-02
          format: date
          type: string
        style: form
      - description: |
          Specifies the sort order for the returned cards.
        explode: false
        in: query
        name: sort_by
        required: false
        schema:
          items:
            enum:
            - account_id:asc
            - account_id:desc
            - card_brand:asc
            - card_brand:desc
            - card_product_id:asc
            - card_product_id:desc
            - card_status:asc
            - card_status:desc
            - card_type:asc
            - card_type:desc
            - customer_id:asc
            - customer_id:desc
            - expiration_date:asc
            - expiration_date:desc
            - form:asc
            - form:desc
            - last_four:asc
            - last_four:desc
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_list_response'
          description: Cards
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List Cards
      tags:
      - Cards
      x-external: true
    post:
      description: |
        Issue or reissue a new card for a customer
      operationId: issueCard
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card_issuance_request'
        description: Card to issue
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_response'
          description: Card issued
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Issue a Card
      tags:
      - Cards
      x-external: true
    summary: Cards
  /cards/activate:
    description: |
      Activate a card
    post:
      description: |
        Activate a card
      operationId: activateCard
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card_activation_request'
        description: Card activation code
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_response'
          description: Card activated successfully
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Activate a card
      tags:
      - Cards
      x-external: true
    summary: Card Activation
  /cards/card_widget_url:
    get:
      description: |
        This endpoint returns a URL address of the specified widget for a given card
      operationId: getCardWidgetURL
      parameters:
      - description: The ID of the card (required for set PIN widget)
        explode: true
        in: query
        name: card_id
        required: false
        schema:
          $ref: '#/components/schemas/card_id'
        style: form
      - explode: true
        in: query
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/account_id'
        style: form
      - explode: true
        in: query
        name: customer_id
        required: true
        schema:
          $ref: '#/components/schemas/customer_id1'
        style: form
      - description: The type of widget for which to construct the URL
        explode: true
        in: query
        name: widget_type
        required: true
        schema:
          $ref: '#/components/schemas/widget_type'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_widget_url_response'
          description: Card issued
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get card widget URL
      tags:
      - Cards
      x-external: true
    summary: Get Card Widget URL
  /cards/digital_wallet_tokens:
    get:
      description: |
        List Digital Wallet Tokens <br>NB: Digital wallet tokens cannot be created outside of production</br>
      operationId: listDigitalWalletTokens
      parameters:
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: a8937a0d
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
      - description: The status of the Digital Wallet Token
        explode: true
        in: query
        name: token_state
        required: false
        schema:
          $ref: '#/components/schemas/digital_wallet_token_state'
        style: form
      - explode: true
        in: query
        name: card_id
        required: false
        schema:
          $ref: '#/components/schemas/card_id'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token_list_response'
          description: List of Digital Wallet Tokens of a card
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List Digital Wallet Tokens
      tags:
      - Digital Wallet Tokens
      x-external: true
  /cards/digital_wallet_tokens/{digital_wallet_token_id}:
    description: |
      The Digital Wallet token object represents your card's digital wallet token(s).
    get:
      description: |
        Get the details about the digital wallet token of a card <br>NB: Digital wallet tokens cannot be created outside of production</br>
      operationId: getDigitalWalletToken
      parameters:
      - explode: false
        in: path
        name: digital_wallet_token_id
        required: true
        schema:
          $ref: '#/components/schemas/digital_wallet_token_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital_wallet_token_response'
          description: Digital Wallet Token details
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get Digital Wallet Token
      tags:
      - Digital Wallet Tokens
      x-external: true
    patch:
      description: |
        The status of a digital wallet token can be updated as, ACTIVE to SUSPENDED, SUSPENDED to ACTIVE, ACTIVE to TERMINATED or SUSPENDED to TERMINATED.
      operationId: updateDigitalWalletTokenStatus
      parameters:
      - explode: false
        in: path
        name: digital_wallet_token_id
        required: true
        schema:
          $ref: '#/components/schemas/digital_wallet_token_id'
        style: simple
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/digital_wallet_token_edit_request'
        description: Update Digital wallet token status
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital_wallet_token_response'
          description: Digital wallet token Status updated
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Update Digital Wallet Token's life cycle status
      tags:
      - Digital Wallet Tokens
      x-external: true
    summary: Digital Wallet Token
  /cards/gateways:
    description: |
      The Gateway object represents the Authorization gateway configuration.
    get:
      description: |
        List of gateways matching query parameters
      operationId: listGateways
      parameters:
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: a8937a0d
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_list_response'
          description: Gateways
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List Gateways
      tags:
      - Cards
      x-external: true
    post:
      description: |
        Create a new Authorization Gateway Configuration
      operationId: createGateway
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_gateway_request'
        description: Create a new Authorization Gateway Configuration
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_response'
          description: New Authorization Gateway Configuration created
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Create Gateway
      tags:
      - Cards
      x-external: true
    summary: Authorization Gateway Configuration
  /cards/gateways/{gateway_id}:
    description: |
      The Gateway object represents the Authorization gateway configuration.
    get:
      description: |
        Get the details of an Authorization Gateway that has been configured
      operationId: getGateway
      parameters:
      - explode: false
        in: path
        name: gateway_id
        required: true
        schema:
          $ref: '#/components/schemas/gateway_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_response'
          description: Gateway details
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get Gateway
      tags:
      - Cards
      x-external: true
    patch:
      description: |
        Update Authorization Gateway configuration
      operationId: updateGateway
      parameters:
      - explode: false
        in: path
        name: gateway_id
        required: true
        schema:
          $ref: '#/components/schemas/gateway_id'
        style: simple
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_gateway_request'
        description: Gateway edits
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_response'
          description: Gateway Updated
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Update Gateway
      tags:
      - Cards
      x-external: true
    summary: Authorization Gateway
  /cards/images:
    get:
      description: |
        List all card image details
      operationId: listCardImageDetails
      parameters:
      - explode: true
        in: query
        name: customer_id
        required: true
        schema:
          $ref: '#/components/schemas/customer_id1'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_image_details_list'
          description: List of details for images uploaded by the given customer
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List Card Image Details
      tags:
      - Cards
      x-external: true
    post:
      description: |
        Create a card image entity. Note that this does not include the image data itself. You can upload the image data via a subsequent uploadCardImageData request using the ID created here.
      operationId: createCardImage
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_card_image_request'
        description: Details of the image to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_image_details'
          description: Card image entity created
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Create Card Image
      tags:
      - Cards
      x-external: true
  /cards/images/{card_image_id}:
    get:
      description: Get card image details
      operationId: getCardImageDetails
      parameters:
      - explode: false
        in: path
        name: card_image_id
        required: true
        schema:
          $ref: '#/components/schemas/card_image_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_image_details'
          description: Details of the card image
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get Card Image Details
      tags:
      - Cards
      x-external: true
    patch:
      description: Update card image details. The only detail that can be updated
        is the card status as APPROVED or REJECTED.
      operationId: updateCardImageDetails
      parameters:
      - description: "An idempotency key is an arbitrary unique value generated by\
          \ client to detect subsequent retries of the same request. It is recommended\
          \ that a UUID or a similar random identifier be used as an idempotency key.\
          \ A different key must be used for each request, unless it is a retry."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: 7d943c51-e4ff-4e57-9558-08cab6b963c7
          type: string
        style: simple
      - explode: false
        in: path
        name: card_image_id
        required: true
        schema:
          $ref: '#/components/schemas/card_image_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_card_image_request'
        description: Details of the image to create
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_image_details'
          description: Details of the card image
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
[...]
