openapi: 3.0.3
info:
  title: Synctera API
  description: |
    <h2>Let's build something great.</h2><p>Welcome to the official reference documentation for Synctera APIs. Our APIs are the best way to automate your company's banking needs and are designed to be easy to understand and implement.</p><p>We're continuously growing this library and what you see here is just the start, but if you need something specific or have a question, <a class='text-blue-600' href='https://synctera.com/contact' target='_blank' rel='noreferrer'>contact us</a>.</p>
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.17.0
servers:
- url: https://api.synctera.com/v0
  description: Production
- url: https://api-sandbox.synctera.com/v0
  description: Sandbox (no real world financial impact)
security:
- bearerAuth: []
tags:
- name: Account Products
  description: "Requests to create and manage account products, including fees, interest."
- name: Accounts
  description: Request to create and manage accounts
- name: Account Templates
  description: Account Template
- name: Payments
  description: Create and manage payments
- name: Applications
  description: Create a credit application.
- name: Businesses
  description: |
    A legal entity (corporation, partnership, etc.) that is relevant to the  Synctera platform in some way: a business customer or some other  organization that has an ownership share in such a business customer.
- name: Cards
  description: Requests to issue and manage cards
- name: External Cards (alpha)
  description: Push and pull from cards
- name: Customers
  description: Requests to create and manage customers
- name: Disclosures
  description: |
    The disclosures resource is used to track the status of disclosures and
    ensure that all parties have been shown the necessary disclosures to meet
    regulatory obligations.
- name: External Accounts
  description: |
    The External Account resource is used for managing links to accounts
    that operate outside of the Synctera ecosystem.
- name: Internal Accounts
  description: |
    The internal account resource is used for managing links to internal
    accounts where the funds are managed by integrators.
- name: KYC Verification
  description: Requests to initiate customer verification.
- name: Cronut
  description: Request to create and manage payment_schedules
- name: Persons
  description: |
    A natural person (individual human) that is relevant to the Synctera  platform in some way: e.g. a personal customer or a director/officer/owner  of a business.
- name: Remote Check Deposit
  description: Request to create and manage deposits using remote deposit capture
- name: Reconciliations
  description: Requests to create and manage reconciliation
- name: Relationships
  description: |
    Represents the relationships between parties. A relationship can exist between personal customers, business customers, or non-customer persons/organizations.
- name: Stately
  description: Request to create and manage statements
- name: Card Transaction Simulations
  description: Requests to generate simulated transactions
- name: Transactions
  description: Create and manage transactions
- name: KYC/KYB Verifications
  description: Requests to initiate customer verification.
- name: Waitlist
  description: Request to create and manage waitlists
- name: Watchlist
  description: "Request to enroll, renew, or cancel watchlist monitors"
- name: Card Webhook Simulations
  description: Requests to generate simulated webhooks
- name: Webhooks
  description: Requests to create and manage webhooks
- name: Wires (alpha)
  description: Create and manage wire transfers
paths:
  /accounts:
    summary: Accounts
    get:
      tags:
      - Accounts
      summary: List accounts
      description: Get paginated list of Accounts associated
      operationId: listAccounts
      parameters:
      - name: id
        in: query
        description: |
          Account ID(s). Multiple IDs can be provided as a comma-separated list.
        required: false
        style: form
        explode: false
        schema:
          $ref: '#/components/schemas/account_id_query_schema'
        x-external: true
      - name: linked_account_id
        in: query
        description: |
          Return only resources that are linked to the specified backing account in balance_floor or balance_ceiling. Multiple IDs can be provided as a comma-separated list.
        required: false
        style: form
        explode: false
        schema:
          $ref: '#/components/schemas/account_id_query_schema'
        x-external: true
      - name: overdraft_account_id
        in: query
        description: |
          Overdraft account ID(s). Multiple IDs can be provided as a comma-separated list.
          This parameter is deprecated and will be removed in a future API version. Use linked_account_id instead.
        required: false
        deprecated: true
        style: form
        explode: false
        schema:
          $ref: '#/components/schemas/account_id_query_schema'
        x-external: true
      - name: overflow_account_id
        in: query
        description: |
          Overflow account ID(s). Multiple IDs can be provided as a comma-separated list.
          This parameter is deprecated and will be removed in a future API version. Use linked_account_id instead.
        required: false
        deprecated: true
        style: form
        explode: false
        schema:
          $ref: '#/components/schemas/account_id_query_schema'
        x-external: true
      - name: account_number
        in: query
        description: |
          Account number(s). Multiple account numbers can be provided as a comma-separated list.
          When only a single account number is provided, any * characters in the string are wildcards, and match any characters.
        required: false
        style: form
        explode: false
        schema:
          type: array
          example: "2345678108180014864"
          items:
            type: string
        x-external: true
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/status'
        x-external: true
      - name: interest_product_id
        in: query
        description: Interest product ID that accounts associate with. Multiple IDs
          can be provided as a comma-separated list.
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-external: true
      - name: customer_type
        in: query
        description: |
          Customer type of the account, BUSINESS or PERSONAL
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/customer_type'
        x-external: true
      - name: customer_id
        in: query
        description: The customer's unique identifier
        required: false
        deprecated: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/customer_id'
        x-external: true
      - name: business_id
        in: query
        description: |
          Unique identifier for the business. Multiple IDs can be provided as a comma-separated list.
        required: false
        style: form
        explode: false
        schema:
          type: array
          example: "64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157"
          items:
            type: string
            format: uuid
        x-external: true
      - name: person_id
        in: query
        description: |
          Unique identifier for the person. Multiple IDs can be provided as a comma-separated list.
        required: false
        style: form
        explode: false
        schema:
          type: array
          example: "64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157"
          items:
            type: string
            format: uuid
        x-external: true
      - name: first_name
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: "Only return resources where the first_name field matches the\
            \ specified string. Any * characters in the string are wildcards, and\
            \ match any characters."
          example: Alice
        x-external: true
      - name: last_name
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: "Only return resources where the last_name field matches the\
            \ specified string. Any * characters in the string are wildcards, and\
            \ match any characters."
          example: Smith
        x-external: true
      - name: limit
        in: query
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          default: 100
        x-external: true
      - name: page_token
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: xwsfu1mkaq
        x-external: true
      - name: sort_by
        in: query
        description: |
          Specifies the sort order for the returned accounts.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account_number:asc
            - account_number:desc
            - account_type:asc
            - account_type:desc
            - first_name:asc
            - first_name:desc
            - last_name:asc
            - last_name:desc
        x-external: true
      responses:
        "200":
          description: List of accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_list'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
    post:
      tags:
      - Accounts
      summary: Create an account
      description: |
        Create a shadow mode or lead mode account. You need to determine the mode according to integrator configuration, and specify the required fields accordingly.

        Shadow mode required fields:
          - account_number
          - status

        Lead mode required fields:
          - account_template_id
          - relationships
      operationId: createAccount
      parameters:
      - name: Idempotency-Key
        in: header
        description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        required: false
        style: simple
        explode: false
        schema:
          type: string
          example: 81026fb3-d06c-4b37-80da-2b17b4749a3f
        x-external: true
      requestBody:
        description: Account to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_creation'
        required: true
      responses:
        "201":
          description: Created account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_generic_response'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Unprocessable entity request response
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /accounts/{account_id}:
    summary: account
    get:
      tags:
      - Accounts
      summary: Get account
      description: Get an account
      operationId: getAccount
      parameters:
      - name: account_id
        in: path
        description: Unique identifier for the account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 12dbc24c-3cfc-46dc-a164-0977434afabf
      responses:
        "200":
          description: Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_generic_response'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "461":
          description: Account has been closed
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
    put:
      tags:
      - Accounts
      summary: Update account
      description: |
        Update account

        Shadow mode required fields:
          - account_number
          - status

        Lead mode required fields:
          - All fields are required.

        Please note:
          - access_status needs to be in ACTIVE.
          - PUT request cannot change access_status.
      operationId: updateAccount
      parameters:
      - name: account_id
        in: path
        description: Unique identifier for the account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 12dbc24c-3cfc-46dc-a164-0977434afabf
      requestBody:
        description: Account to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account'
        required: true
      responses:
        "200":
          description: Updated account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_generic_response'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "461":
          description: Account has been closed
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
    patch:
      tags:
      - Accounts
      summary: Patch account
      description: |
        Patch account.

        Immutable fields:
          - account_number
          - account_type
          - account_template_id
          - customer_type

        Please note:
          - Other fields cannot be modified when access_status is FROZEN.
          - access_status has to be patched individually without other fields.
      operationId: patchAccount
      parameters:
      - name: Idempotency-Key
        in: header
        description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        required: false
        style: simple
        explode: false
        schema:
          type: string
          example: 81026fb3-d06c-4b37-80da-2b17b4749a3f
        x-external: true
      - name: account_id
        in: path
        description: Unique identifier for the account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 12dbc24c-3cfc-46dc-a164-0977434afabf
      requestBody:
        description: Account fields to be patched
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account'
        required: true
      responses:
        "200":
          description: Updated account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_generic_response'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "461":
          description: Account has been closed
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /accounts/{account_id}/relationships:
    summary: Account Relationship
    get:
      tags:
      - Accounts
      summary: List account relationships
      description: List all customers of an account
      operationId: listAccountRelationship
      parameters:
      - name: account_id
        in: path
        description: Unique identifier for the account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 12dbc24c-3cfc-46dc-a164-0977434afabf
      - name: limit
        in: query
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          default: 100
        x-external: true
      - name: page_token
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: xwsfu1mkaq
        x-external: true
      responses:
        "200":
          description: List of account relationships
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationship_list'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "461":
          description: Account has been closed
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
    post:
      tags:
      - Accounts
      summary: Create account relationship
      description: Add a customer to an account
      operationId: createAccountRelationship
      parameters:
      - name: Idempotency-Key
        in: header
        description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        required: false
        style: simple
        explode: false
        schema:
          type: string
          example: 81026fb3-d06c-4b37-80da-2b17b4749a3f
        x-external: true
      - name: account_id
        in: path
        description: Unique identifier for the account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 12dbc24c-3cfc-46dc-a164-0977434afabf
      requestBody:
        description: Account relationship object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/relationship'
        required: true
      responses:
        "201":
          description: Account relationship object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationship'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "461":
          description: Account has been closed
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /accounts/{account_id}/relationships/{relationship_id}:
    summary: Account Relationship
    get:
      tags:
      - Accounts
      summary: Get account relationship
      description: Get account relationship by ID
      operationId: getAccountRelationship
      parameters:
      - name: account_id
        in: path
        description: Unique identifier for the account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 12dbc24c-3cfc-46dc-a164-0977434afabf
      - name: relationship_id
        in: path
        description: Relationship ID of the account associate with the account entity
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 491b33fd-182c-4f0b-90d4-f2f929bbb6d9
      responses:
        "200":
          description: Account relationship
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationship'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "461":
          description: Account has been closed
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
    put:
      tags:
      - Accounts
      summary: Update account relationship
      description: Update account relationship. Only relationship_type can be updated.
        customer_id should not be modified.
      operationId: updateAccountRelationship
      parameters:
      - name: account_id
        in: path
        description: Unique identifier for the account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 12dbc24c-3cfc-46dc-a164-0977434afabf
      - name: relationship_id
        in: path
        description: Relationship ID of the account associate with the account entity
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 491b33fd-182c-4f0b-90d4-f2f929bbb6d9
      requestBody:
        description: Account relationship to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/relationship'
        required: true
      responses:
        "200":
          description: Updated account relationship
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationship'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "461":
          description: Account has been closed
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
    delete:
      tags:
      - Accounts
      summary: Delete account relationship
      description: Delete account relationship
      operationId: DeleteAccountRelationship
      parameters:
      - name: account_id
        in: path
        description: Unique identifier for the account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 12dbc24c-3cfc-46dc-a164-0977434afabf
      - name: relationship_id
        in: path
        description: Relationship ID of the account associate with the account entity
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 491b33fd-182c-4f0b-90d4-f2f929bbb6d9
      responses:
        "200":
          description: Resource has been deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_response'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "461":
          description: Account has been closed
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /accounts/products:
    summary: Account products
    get:
      tags:
      - Accounts
      summary: List account products
      description: |
        List account Products
      operationId: listAccountResourceProducts
      parameters:
      - name: limit
        in: query
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          default: 100
        x-external: true
      - name: page_token
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: xwsfu1mkaq
        x-external: true
      - name: start_date
        in: query
        description: Date range filtering for type INTEREST. All rates in interest
          resource have to have valid_from later or equal to start_date.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
        x-external: true
      - name: end_date
        in: query
        description: Date range filtering for type INTEREST. All rates in interest
          resource have to have valid_to earlier or equal to end_date.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
        x-external: true
      - name: product_type
        in: query
        description: Type of account product
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - FEE
          - INTEREST
        x-external: true
      responses:
        "200":
          description: List of account products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_product_list'
      x-external: true
    post:
      tags:
      - Accounts
      summary: Create an account product
      description: |
        Create an account product. Rates cannot be nil or empty.
      operationId: createAccountResourceProduct
      parameters:
      - name: Idempotency-Key
        in: header
        description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        required: false
        style: simple
        explode: false
        schema:
          type: string
          example: 81026fb3-d06c-4b37-80da-2b17b4749a3f
        x-external: true
      requestBody:
        description: Account product to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_product'
        required: true
      responses:
        "201":
          description: Account product created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_product'
      x-external: true
  /accounts/products/{product_id}:
    summary: Account products
    patch:
      tags:
      - Accounts
      summary: Patch account product
      description: |
        Patch account product. Rates requires at minimum 1 entry if specified.
      operationId: patchAccountProduct
      parameters:
      - name: Idempotency-Key
        in: header
        description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        required: false
        style: simple
        explode: false
        schema:
          type: string
          example: 81026fb3-d06c-4b37-80da-2b17b4749a3f
        x-external: true
      - name: product_id
        in: path
        description: Account Product ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 0175dfc6-250f-4245-9360-17d3682b943a
      requestBody:
        description: Account product fields to be patched
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patch_account_product'
        required: true
      responses:
        "200":
          description: Updated account product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_product'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /accounts/templates:
    summary: Accounts
    get:
      tags:
      - Accounts
      summary: List account templates
      description: |
        List account templates
      operationId: listAccountTemplates
      parameters:
      - name: limit
        in: query
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          default: 100
        x-external: true
      - name: page_token
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: xwsfu1mkaq
        x-external: true
      responses:
        "200":
          description: List of account templates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template_list'
      x-external: true
    post:
      tags:
      - Accounts
      summary: Create an account template
      description: |
        Create an account template. An account template is need when create an account in a lead mode
      operationId: createAccountTemplate
      parameters:
      - name: Idempotency-Key
        in: header
        description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        required: false
        style: simple
        explode: false
        schema:
          type: string
          example: 81026fb3-d06c-4b37-80da-2b17b4749a3f
        x-external: true
      requestBody:
        description: Account template to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_template'
        required: true
      responses:
        "201":
          description: Account template created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_template_response'
      x-external: true
  /accounts/templates/{template_id}:
    summary: account
    get:
      tags:
      - Accounts
      summary: Get account template
      description: Get an account template
      operationId: getAccountTemplate
      parameters:
      - name: template_id
        in: path
        description: Account Template ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 858f5a31-2723-452d-9cdc-b2c01d40d9dd
      responses:
        "200":
          description: Account Template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_template_response'
      x-external: true
    put:
      tags:
      - Accounts
      summary: Update account template
      description: |
        Update account template
      operationId: updateAccountTemplate
      parameters:
      - name: template_id
        in: path
        description: Account Template ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 858f5a31-2723-452d-9cdc-b2c01d40d9dd
      requestBody:
        description: Account template to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_template'
        required: true
      responses:
        "200":
          description: Account template updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_template_response'
      x-external: true
    delete:
      tags:
      - Accounts
      summary: Delete account template
      description: Delete account template
      operationId: DeleteAccountTemplate
      parameters:
      - name: template_id
        in: path
        description: Account Template ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 858f5a31-2723-452d-9cdc-b2c01d40d9dd
      responses:
        "200":
          description: Resource has been deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_response'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /ach:
    summary: Outgoing ACH
    description: |
      The ACH object represents your outgoing ACH.
    get:
      tags:
      - Payments
      summary: List outgoing ACH transactions
      description: List outgoing ACH transactions
      operationId: listTransactionsOut
      parameters:
      - name: limit
        in: query
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          default: 100
        x-external: true
      - name: page_token
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: xwsfu1mkaq
        x-external: true
      responses:
        "200":
          description: List of outgoing ACH transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outgoing_ach_list'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
    post:
      tags:
      - Payments
      summary: Create an outgoing ACH
      description: |
        Create an outgoing ACH
      operationId: addTransactionOut
      requestBody:
        description: Outgoing ACH
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/outgoing_ach_request'
        required: true
      responses:
        "201":
          description: Created an Outgoing ACH
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outgoing_ach'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Unprocessable entity request response
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /ach/{transaction_id}:
    summary: Outgoing ACH detail
    get:
      tags:
      - Payments
      summary: Get an outgoing ACH transaction
      description: Get a single outgoing ACH transaction
      operationId: getTransactionOut
      parameters:
      - name: transaction_id
        in: path
        description: Transaction ID in the ledger
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 25ae35db-92b9-4b74-82d9-140a07eece71
      responses:
        "200":
          description: Outgoing ACH transaction representation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outgoing_ach'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
    patch:
      tags:
      - Payments
      summary: Update outgoing ACH transaction
      description: Update outgoing ACH transaction (either status or funds availability)
      operationId: patchTransactionOut
      parameters:
      - name: transaction_id
        in: path
        description: Transaction ID in the ledger
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 25ae35db-92b9-4b74-82d9-140a07eece71
      requestBody:
        description: Outgoing ACH update request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/outgoing_ach_patch'
        required: true
      responses:
        "200":
          description: Cancelled successfully
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Unprocessable entity request response
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /applications:
    summary: Applications
    get:
      tags:
      - Applications
      summary: List credit applications.
      description: |
        List credit applications.
      operationId: listApplications
      parameters:
      - name: customer_id
        in: query
        description: "A list of customer unique identifiers, with a comma separating\
          \ any values."
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/customer_id'
        x-external: true
      - name: status
        in: query
        description: |
          Status of the credit application
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/application_status'
        x-external: true
      responses:
        "200":
          description: List of credit applications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_list'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
    post:
      tags:
      - Applications
      summary: Create a credit application.
      description: |
        Create a credit application.
      operationId: createApplication
      parameters:
      - name: Idempotency-Key
        in: header
        description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        required: false
        style: simple
        explode: false
        schema:
          type: string
          example: 81026fb3-d06c-4b37-80da-2b17b4749a3f
        x-external: true
      requestBody:
        description: Submit application details for a credit account
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/application'
        required: true
      responses:
        "201":
          description: Credit application created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_response'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "409":
          description: Resource already exists error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /applications/{application_id}:
    summary: Application
    get:
      tags:
      - Applications
      summary: Get Application
      description: |
        Get application by ID.
      operationId: getApplication
      parameters:
      - name: application_id
        in: path
        description: Unique identifier for the application.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 4d463562-87b0-40bf-ba3f-7b52833f4898
      responses:
        "200":
          description: Application representation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_response'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
    patch:
      tags:
      - Applications
      summary: Patch Application
      description: |
        Patch Application.
      operationId: patchApplication
      parameters:
      - name: Idempotency-Key
        in: header
        description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        required: false
        style: simple
        explode: false
        schema:
          type: string
          example: 81026fb3-d06c-4b37-80da-2b17b4749a3f
        x-external: true
      - name: application_id
        in: path
        description: Unique identifier for the application.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 4d463562-87b0-40bf-ba3f-7b52833f4898
      requestBody:
        description: Application fields to be patched
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/application_patch'
        required: true
      responses:
        "200":
          description: Updated application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_response'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /businesses:
    summary: Businesses
    get:
      tags:
      - Businesses
      summary: List business
      description: Retrieves paginated list of businesses associated with the authorized
        requester.
      operationId: listBusinesses
      parameters:
      - name: id
        in: query
        description: |
          Unique identifier for the business. Multiple IDs can be provided as a comma-separated list.
        required: false
        style: form
        explode: false
        schema:
          type: array
          example: "64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157"
          items:
            type: string
            format: uuid
        x-external: true
      - name: entity_name
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: "Only return resources where the `entity_name` field matches\
            \ the specified string. Any `*` characters in the string are wildcards,\
            \ and match any characters."
          example: Apex Corporation
        x-external: true
      - name: phone_number
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: "Only return resources where the phone_number field matches\
            \ the specified string. Phone numbers use the E.164 format e.g. +19178675309.\
            \ Any * characters in the string are wildcards, and match any characters."
          example: +12065550100
        x-external: true
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: |
            Status of the business. One of the following:
            * `PROSPECT` – a potential customer, used for information-gathering and disclosures.
            * `ACTIVE` –  is an integrator defined status.  Integrators should set a business to active if they believe the person to be qualified for conducting business.  Synctera will combine this status with other statuses such a verification to determine if the business is eligible for specific actions such as initiating transactions or issuing a card.
            * `FROZEN` – business's actions are blocked for security, legal, or other reasons.
            * `SANCTION` – business is on a sanctions list and should be carefully monitored.
            * `DISSOLVED` – an inactive status indicating a business entity has filed articles of dissolution or a certificate of termination to terminate its existence.
            * `CANCELLED` – an inactive status indicating that a business entity has filed a cancellation or has failed to file its periodic report after notice of forfeiture of its rights to do business.
            * `SUSPENDED` – an inactive status indicating that the business entity has lost the right to operate in it's registered jurisdiction.
            * `MERGED` – an inactive status indicating that the business entity has terminated existence by merging into another entity.
            * `INACTIVE` – an inactive status indicating that the business entity is no longer active.
            * `CONVERTED` – An inactive status indicating that the business entity has been converted to another type of business entity in the same jurisdiction.
          enum:
          - PROSPECT
          - ACTIVE
          - FROZEN
          - SANCTION
          - DISSOLVED
          - CANCELLED
          - SUSPENDED
          - MERGED
          - INACTIVE
          - CONVERTED
        x-external: true
      - name: is_customer
        in: query
        description: "If true, show only customers. If false, show non-customer parties."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-external: true
      - name: sort_by
        in: query
        description: |
          Specifies the sort order for the returned businesses.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - entity_name:asc
            - entity_name:desc
        x-external: true
      - name: limit
        in: query
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          default: 100
        x-external: true
      - name: page_token
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: xwsfu1mkaq
        x-external: true
      responses:
        "200":
          description: List of businesses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business_list'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
      x-status: alpha
    post:
      tags:
      - Businesses
      summary: Create a business
      description: |
        Create a business who may act as a customer or a related business. You can then verify the identity of this customer and associate them with other people and accounts.
      operationId: createBusiness
      parameters:
      - name: Idempotency-Key
        in: header
        description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        required: false
        style: simple
        explode: false
        schema:
          type: string
          example: 81026fb3-d06c-4b37-80da-2b17b4749a3f
        x-external: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/business'
        required: true
      responses:
        "201":
          description: The created business.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "409":
          description: Resource already exists error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
      x-status: alpha
  /businesses/{business_id}:
    get:
      tags:
      - Businesses
      summary: Get business
      description: Get business by ID.
      operationId: getBusiness
      parameters:
      - name: business_id
        in: path
        description: Business's unique identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 2e3304dc-a1c2-427e-ac5a-a2586a95ce1f
      responses:
        "200":
          description: Business representation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
      x-status: alpha
    patch:
      tags:
      - Businesses
      summary: Patch business
      description: Update business by ID.
      operationId: updateBusiness
      parameters:
      - name: Idempotency-Key
        in: header
        description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        required: false
        style: simple
        explode: false
        schema:
          type: string
          example: 81026fb3-d06c-4b37-80da-2b17b4749a3f
        x-external: true
      - name: business_id
        in: path
        description: Business's unique identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          example: 2e3304dc-a1c2-427e-ac5a-a2586a95ce1f
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patch_business'
        required: true
      responses:
        "200":
          description: Updated business representation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "404":
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
      x-status: alpha
  /cards:
    summary: Cards
    description: |
      The Card object represents your customer's spending card.
    get:
      tags:
      - Cards
      summary: List Cards
      description: |
        List of cards matching query parameters
      operationId: listCards
      parameters:
      - name: customer_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/customer_id1'
        x-external: true
      - name: account_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/account_id'
        x-external: true
      - name: emboss_name
        in: query
        description: emboss name
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-external: true
      - name: last_four
        in: query
        description: The last 4 digits of the card PAN
        required: false
        style: form
        explode: true
        schema:
          pattern: "^\\d{4}$"
          type: string
          example: "1234"
        x-external: true
      - name: expiration_date
        in: query
        description: The date representing when the card would expire at
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
          example: 2006-01-02
        x-external: true
      - name: card_type
        in: query
        description: Indicates the type of card
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - DEBIT
        x-external: true
      - name: card_brand
        in: query
        description: The brand of a card product
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/card_brand'
        x-external: true
      - name: form
        in: query
        description: The format of the card
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/form'
        x-external: true
      - name: card_product_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/card_product_id'
        x-external: true
      - name: card_status
        in: query
        description: The status of a card
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/card_status'
        x-external: true
      - name: postal_code
        in: query
        description: The postal code of a card user
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: "49633"
        x-external: true
      - name: limit
        in: query
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          default: 100
        x-external: true
      - name: page_token
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: xwsfu1mkaq
        x-external: true
      - name: sort_by
        in: query
        description: |
          Specifies the sort order for the returned cards.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account_id:asc
            - account_id:desc
            - customer_id:asc
            - customer_id:desc
            - card_product_id:asc
            - card_product_id:desc
            - last_four:asc
            - last_four:desc
            - card_type:asc
            - card_type:desc
            - card_brand:asc
            - card_brand:desc
            - expiration_date:asc
            - expiration_date:desc
            - form:asc
            - form:desc
            - card_status:asc
            - card_status:desc
        x-external: true
      responses:
        "201":
          description: Cards
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_list_response'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Unprocessable entity request response
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
    post:
      tags:
      - Cards
      summary: Issue a Card
      description: |
        Issue or reissue a new card for a customer
      operationId: issueCard
      requestBody:
        description: Card to issue
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card_issuance_request'
        required: true
      responses:
        "201":
          description: Card issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_response'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Unprocessable entity request response
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /cards/{card_id}:
    summary: Cards
    description: |
      The Card object represents your customer's spending card.
    get:
      tags:
      - Cards
      summary: Get Card
      description: |
        Get the details about a card that has been issued
      operationId: getCard
      parameters:
      - name: card_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/card_id'
      responses:
        "200":
          description: Card details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_response'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Unprocessable entity request response
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
    patch:
      tags:
      - Cards
      summary: Update Card
      description: |
        Integrators can update the card resource to change status, update shipping (if the card hasn't been shipped) or edit metadata.
      operationId: updateCard
      parameters:
      - name: card_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/card_id'
      requestBody:
        description: Card edits
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card_edit_request'
        required: true
      responses:
        "200":
          description: Card issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_response'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Unprocessable entity request response
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /cards/{card_id}/barcodes:
    summary: Cards
    get:
      tags:
      - Cards
      summary: Get Card Barcode
      description: |
        This endpoint is for testing environment only to provide access to barcode of a test card
      operationId: getCardBarcode
      parameters:
      - name: card_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/card_id'
      responses:
        "200":
          description: Barcode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Unprocessable entity request response
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /cards/{card_id}/changes:
    get:
      tags:
      - Cards
      summary: List Card Changes
      description: |
        List card change history
      operationId: listChanges
      parameters:
      - name: card_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/card_id'
      responses:
        "200":
          description: List of card changes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_changes_list'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Unprocessable entity request response
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /cards/{card_id}/client_token:
    summary: Get Client Access Token
    description: |
      Client access token for accessing privileged details about a card
    post:
      tags:
      - Cards
      summary: Get a client token
      description: |
        Create a client access token for interacting with a card.  This token will be used on the client to identify the card for flows like viewing Full PAN or setting the PIN in a PCI compliant manner.
      operationId: getClientAccessToken
      parameters:
      - name: card_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/card_id'
      responses:
        "201":
          description: Client token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_token'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Unprocessable entity request response
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /cards/{card_id}/digital_wallet_tokens/applepay:
    post:
      tags:
      - Digital Wallet Tokens
      summary: Create digital wallet token provision request for Apple Pay
      operationId: createDigitalWalletApple
      parameters:
      - name: card_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/card_id'
      requestBody:
        description: Request to provision digital wallet card data to pass to Apple
          Pay digital wallet
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/apple_digital_wallet_provision_request'
        required: true
      responses:
        "201":
          description: Digital wallet token provision request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apple_digital_wallet_provision_response'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Unprocessable entity request response
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /cards/{card_id}/digital_wallet_tokens/googlepay:
    post:
      tags:
      - Digital Wallet Tokens
      summary: Create digital wallet token provision request for Google Pay
      operationId: createDigitalWalletGoogle
      parameters:
      - name: card_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/card_id'
      requestBody:
        description: Request to provision digital wallet card data to pass to Google
          Pay digital wallet
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/google_digital_wallet_provision_request'
        required: true
      responses:
        "201":
          description: Digital wallet token provision request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google_digital_wallet_provision_response'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Unprocessable entity request response
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /cards/{card_id}/webhook_simulations/fulfillment:
    summary: Card Webhook Simulations
    description: |
      Simulate card fulfillment event
    post:
      tags:
      - Card Webhook Simulations
      summary: Simulate Card Fulfillment Event
      description: |
        This endpoint is for testing environment only to trigger a simulated change in card fulfillment status event
      operationId: simulateCardFulfillmentEvent
      parameters:
      - name: card_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/card_id'
      requestBody:
        description: Desired simulated fulfillment status change value
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/simulate_card_fulfillment'
        required: true
      responses:
        "200":
          description: Simulated fulfillment status change value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/simulate_card_fulfillment'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Unprocessable entity request response
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /cards/activate:
    summary: Card Activation
    description: |
      Activate a card
    post:
      tags:
      - Cards
      summary: Activate a card
      description: |
        Activate a card
      operationId: activateCard
      requestBody:
        description: Card activation code
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card_activation_request'
        required: true
      responses:
        "200":
          description: Card activated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_response'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Unprocessable entity request response
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /cards/card_widget_url:
    summary: Get Card Widget URL
    get:
      tags:
      - Cards
      summary: Get card widget URL
      description: |
        This endpoint returns a URL address of the specified widget for a given card
      operationId: getCardWidgetURL
      parameters:
      - name: widget_type
        in: query
        description: The type of widget for which to construct the URL
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/widget_type'
        x-external: true
      - name: customer_id
        in: query
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/customer_id1'
        x-external: true
      - name: account_id
        in: query
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/account_id'
        x-external: true
      - name: card_id
        in: query
        description: The ID of the card (required for set PIN widget)
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/card_id'
        x-external: true
      responses:
        "200":
          description: Card issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_widget_url_response'
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /cards/digital_wallet_tokens:
    get:
      tags:
      - Digital Wallet Tokens
      summary: List Digital Wallet Tokens
      description: |
        List Digital Wallet Tokens
      operationId: listDigitalWalletTokens
      parameters:
      - name: card_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/card_id'
        x-external: true
      - name: token_state
        in: query
        description: The status of the Digital Wallet Token
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/digital_wallet_token_state'
        x-external: true
      - name: limit
        in: query
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          default: 100
        x-external: true
      - name: page_token
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: "Optional pagination token to be provided to retrieve subsequent\
            \ pages, returned from previous get"
          example: xwsfu1mkaq
        x-external: true
      responses:
        "200":
          description: List of Digital Wallet Tokens of a card
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token_list_response'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Unprocessable entity request response
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /cards/digital_wallet_tokens/{digital_wallet_token_id}:
    summary: Digital Wallet Token
    description: |
      The Digital Wallet token object represents your card's digital wallet token(s).
    get:
      tags:
      - Digital Wallet Tokens
      summary: Get Digital Wallet Token
      description: |
        Get the details about the digital wallet token of a card
      operationId: getDigitalWalletToken
      parameters:
      - name: digital_wallet_token_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/digital_wallet_token_id'
      responses:
        "200":
          description: Digital Wallet Token details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital_wallet_token_response'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Unprocessable entity request response
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
    patch:
      tags:
      - Digital Wallet Tokens
      summary: Update Digital Wallet Token's life cycle status
      description: |
        The status of a digital wallet token can be updated as, ACTIVE to SUSPENDED, SUSPENDED to ACTIVE, ACTIVE to TERMINATED or SUSPENDED to TERMINATED.
      operationId: updateDigitalWalletTokenStatus
      parameters:
      - name: digital_wallet_token_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/digital_wallet_token_id'
      requestBody:
        description: Update Digital wallet token status
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/digital_wallet_token_edit_request'
        required: true
      responses:
        "200":
          description: Digital wallet token Status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/digital_wallet_token_response'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Unprocessable entity request response
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /cards/images:
    get:
      tags:
      - Cards
      summary: List Card Image Details
      description: |
        List all card image details
      operationId: listCardImageDetails
      parameters:
      - name: customer_id
        in: query
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/customer_id1'
        x-external: true
      responses:
        "200":
          description: List of details for images uploaded by the given customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_image_details_list'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
    post:
      tags:
      - Cards
      summary: Create Card Image
      description: |
        Create a card image entity. Note that this does not include the image data itself. You can upload the image data via a subsequent uploadCardImageData request using the ID created here.
      operationId: createCardImage
      requestBody:
        description: Details of the image to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_card_image_request'
        required: true
      responses:
        "201":
          description: Card image entity created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_image_details'
        "400":
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "422":
          description: Unprocessable entity request response
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
      x-external: true
  /cards/images/{card_image_id}:
    get:
      tags:
      - Cards
      summary: Get Card Image Details
      description: Get card image details
      operationId: getCardImageDetails
      parameters:
      - name: card_image_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/card_image_id'
      responses:
        "200":
          description: Details of the card image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_image_details'
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "403":
          description: Forbidden error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
        "500":
          description: Internal server error
          content:
            application/problem+json:
[...]
